[run]
branch = True
source =
    controlpanel
omit =
    */migrations/*
    controlpanel/wsgi.py
    controlpanel/settings/*
    controlpanel/asgi.py
    controlpanel/cli/tests.py

[report]
fail_under = 75

[html]
directory = coverage-report
