*.pyc
*.sw?
.cache
.circleci
.env
.github
.gitignore
.pytest_cache
.python-version
.ropeproject
.vscode/
Jenkinsfile
LICENSE
Makefile
README.md
__pycache__
doc
docker-compose.yaml
govuk-frontend
node_modules
requirements.txt
run
tags
venv
