*.dump
*.pyc
*.rdb
*.sw?
*.taskpaper
.cache
.coverage
.ctagsignore
.env
.envrc
.mypy_cache
.pytest_cache
.ropeproject
.testmondata
.vscode
__pycache__
/node_modules
/run
/static
/tags
/venv
/venv_311
/.python-version
/coverage/
.idea/
.sass-cache/
.DS_store
