*.dump
*.pyc
*.rdb
*.sw?
*.taskpaper
.cache
.coverage
.ctagsignore
.env
.mypy_cache
.pytest_cache
.ropeproject
.testmondata
.vscode
__pycache__
/node_modules
/run
/static
/tags
/venv
/.python-version
