version: '3'
services:
  app:
    build: .
    image: app
    ports:
      - "8000:8000"
    depends_on:
      - db
    links:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: "db"
      DB_NAME: "controlpanel"
      DB_USER: "controlpanel"
      DEBUG: "True"
  db:
    image: "circleci/postgres:9.6.2"
    environment:
      POSTGRES_USER: "controlpanel"
      POSTGRES_DB: "controlpanel"
  migration:
    image: app:latest
    command: ["sh", "-c", "python3 wait_for_db && python3 manage.py migrate"]
    environment:
      DB_HOST: "db"
      DB_NAME: "controlpanel"
      DB_USER: "controlpanel"
    links:
      - db
    depends_on:
      - db