version: "3"
services:
  db:
    image: "circleci/postgres:9.6.17-ram"
    network_mode: ${NETWORK:-default}
    logging:
      driver: none
    environment:
      POSTGRES_USER: "controlpanel"
      POSTGRES_DB: "controlpanel"
      POSTGRES_PASSWORD: "password"

  redis:
    image: "redis"
    network_mode: ${NETWORK:-default}
    environment:
      REDIS_PASSWORD: "controlpanel"
    command: sh -c "exec redis-server --requirepass \"$${REDIS_PASSWORD}\""

  migration:
    image: ${REGISTRY}/${REPOSITORY}:${IMAGE_TAG:-latest}
    network_mode: ${NETWORK:-default}
    depends_on: [db]
    environment:
      DB_HOST: "db"
      DB_NAME: "controlpanel"
      DB_USER: "controlpanel"
      DB_PASSWORD: "password"
      DEBUG: "True"
      PYTHONUNBUFFERED: "1"
      SLACK_API_TOKEN: "dummy"
    command: sh -c "until pg_isready -h db; do sleep 2; done; ./manage.py migrate"

  worker:
    image: ${REGISTRY}/${REPOSITORY}:${IMAGE_TAG:-latest}
    network_mode: ${NETWORK:-default}
    depends_on:
      - migration
      - redis
    environment:
      ALLOWED_HOSTS: "*"
      DB_HOST: "db"
      DB_NAME: "controlpanel"
      DB_USER: "controlpanel"
      DEBUG: "True"
      PYTHONUNBUFFERED: "1"
      REDIS_HOST: "redis"
      REDIS_PASSWORD: "controlpanel"
      SLACK_API_TOKEN: "dummy"
    volumes:
      - ~/.kube/controlpanel:/home/controlpanel/.kube/config:ro
    command: ["python3", "manage.py", "runworker", "background_tasks"]

  cpanel:
    image: ${REGISTRY}/${REPOSITORY}:${IMAGE_TAG:-latest}
    build:
      context: .
      network: ${NETWORK:-default}
    network_mode: ${NETWORK:-default}
    ports: ["8000:8000"]
    depends_on:
      - migration
      - worker
    environment:
      ALLOWED_HOSTS: "*"
      DB_HOST: "db"
      DB_NAME: "controlpanel"
      DB_USER: "controlpanel"
      DB_PASSWORD: "password"
      DEBUG: "True"
      PYTHONUNBUFFERED: "1"
      REDIS_HOST: "redis"
      REDIS_PASSWORD: "controlpanel"
      SLACK_API_TOKEN: "dummy"
    volumes:
      - ~/.kube/controlpanel:/home/controlpanel/.kube/config:ro
      - ~/.aws/credentials:/home/controlpanel/.aws/credentials:ro
    command: ["python3", "manage.py", "runserver", "0.0.0.0:8000"]
