asgiref==3.9.1
auth0-python==4.11.0
authlib==1.6.3
beautifulsoup4==4.13.5
boto3==1.40.30
celery[sqs]==5.5.3
channels==4.3.1
channels-redis==4.3.0
cryptography==45.0.7
daphne==4.2.1
Django==5.2.6
django-celery-beat==2.8.1
django-crequest==2018.5.11
django-extensions==4.1
django-filter==25.1
django-prometheus==2.4.1
django-redis==6.0.0
django-simple-history==3.10.1
django-structlog==9.1.1
djangorestframework==3.16.1
djproxy==2.3.6
elasticsearch-dsl==7.4.1
gunicorn==23.0.0
Jinja2==3.1.6
kubernetes==33.1.0
MarkupSafe==3.0.2
model-bakery==1.20.5
moto[all]==5.1.12
mozilla-django-oidc==4.0.1
notifications-python-client==10.0.1
pagerduty==4.1.1
psycopg2-binary==2.9.10
PyJWT==2.10.1
PyNaCl==1.6.0
pytest==8.4.2
pytest-django==4.11.1
pytest-xdist==3.8.0
python-dotenv==1.1.1
pyyaml==6.0.2
rules==3.5
sentry-sdk==2.37.1
setuptools==80.9.0
slackclient==2.9.4
urllib3==2.5.0
uvicorn[standard]==0.35.0
