// Full-width autocomplete variant
.autocomplete--full-width .autocomplete__wrapper,
.autocomplete--full-width .autocomplete__input {
  width: 100%;
}

.autocomplete__input {
  width: 33.3%;
}

.autocomplete__option {
  @include govuk-font($size: 19);
}
