{% extends "base.html" %}

{% set page_title = "Page not found" %}
{% set hide_nav = True %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <p class="govuk-body">
    If you typed the web address, check it is correct.
  </p>
  <p class="govuk-body">
    If you pasted the web address, check you copied the entire address.
  </p>
  <p class="govuk-body">
    If the web address is correct or you selected a link or button,
    <a href="">contact the Analytical Platform team</a>.
  </p>
{% endblock %}
