{% extends "base.html" %}

{% set page_title = "Sorry, there is a problem with the service" %}
{% set home_url = url("index") %}

{% block header %}
  {{ mojHeader({
    'organisationLabel': {
      'text': 'Ministry of Justice',
      'href': home_url,
    },
    'serviceLabel': {
      'text': service_name,
      'href': home_url,
    },
    'navigation': [],
  }) }}
{% endblock %}

{% set hide_nav = True %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <p class="govuk-body">
    Try again later.
  </p>
  <p class="govuk-body">
    <a href="">Contact the Analytical Platform team</a> if you need to make
    urgent changes to your webapps or data sources.
  </p>
{% endblock %}
