{% from "input/macro.html" import govukInput %}
{% from "fieldset/macro.html" import govukFieldset %}

{% extends "base.html" %}

{% block content %}
  <h1 class="govuk-heading-xl">Update the secret: {{ form.key.value() }} - [{{ form.env_name.value() }}]</h1>

  {% if form.error %}
    <div class="error">{{ form.error }}</div>
  {% endif %}

  <form action="" method="post">
    {{ csrf_input }}

    {{ form.env_name }}
    {{ form.key }}

    {{
      govukInput({
        "type":"password",
        "label": {
          "text": "Value",
          "classes": "govuk-label--m",
        },
        "hint": {
          "text": 'You can only create or update value and cannot see previous value unless value allows.'
        },
        "classes": "govuk-!-width-two-thirds",
        "name": "value",
        "attributes": {
        },
        "value": form.value.value(),
        "errorMessage": { "html": form.value.errors|join(". ") } if form.value.errors else {}
      })
    }}
    <button class="govuk-button">Update secret</button>
  </form>

{% endblock %}
