{% from "input/macro.html" import govukInput %}
{% from "fieldset/macro.html" import govukFieldset %}

{% extends "base.html" %}

{% set page_title = "Create a deployment secret" %}

{% set page_name = "App secrets" %}

{% block content %}
  <h2 class="govuk-heading-xl">{{ page_title }} - [{{ form.env_name.value() }}]</h2>
  <p>Adding suffix as part of key is encourage, please avoid to use ECR_ and KUBE_ as suffix as they have been used for other purposes</p>
  {% if form.error %}
    <div class="error">{{ form.error }}</div>
  {% endif %}

  <form action="" method="post">
    {{ csrf_input }}

    {{ form.env_name }}
    {{
      govukInput({
        "label": {
          "text": "Key",
          "classes": "govuk-label--m",
        },
        "classes": "govuk-!-width-two-thirds",
        "hint": {
          "text": '60 chars max, only letters, numbers and underscores'
        },
        "name": "key",
        "attributes": {
          "pattern": "[a-zA-Z0-9_]{1,60}",
          "maxlength": "60",
        },
        "value": form.key.value(),
        "errorMessage": { "html": form.key.errors|join(". ") } if form.key.errors else {}
      })
    }}

    {{
      govukInput({
        "type":"password",
        "label": {
          "text": "Value",
          "classes": "govuk-label--m",
        },
        "hint": {
          "text": 'Store sensitive value'
        },
        "classes": "govuk-!-width-two-thirds",
        "name": "value",
        "attributes": {
        },
        "value": form.value.value(),
        "errorMessage": { "html": form.value.errors|join(". ") } if form.value.errors else {}
      })
    }}
    <button class="govuk-button">Create secret</button>
  </form>
{% endblock %}
