{% from "header/macro.html" import mojHeader with context %}
{% from "footer/macro.html" import govukFooter %}
{% from "navbar/macro.html" import mojPrimaryNavigation %}
{% from "alerts/macro.html" import alerts with context %}

{% extends "govuk-frontend.html" %}

{% set service_name = "Analytical Platform Control Panel" %}
{% set home_url = url("index") %}
{% set signout_url = url("oidc_logout") %}


{% block page_title %}
  {{ page_title }} | {{ service_name }}
{% endblock %}

{% block head %}
  <link href="{{ static('accessible-autocomplete/accessible-autocomplete.min.css') }}" rel="stylesheet">

  <!--[if !IE 8]><!-->
    <link href="{{ static('app.css') }}" rel="stylesheet">
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="{{ static('govuk-frontend/all-ie8.min.css') }}" rel="stylesheet">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="{{ static('html5-shiv/html5shiv.js') }}"></script>
  <![endif]-->
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block header %}
  {% if request.user.is_authenticated -%}
    {{ mojHeader({
      'organisationLabel': {
        'text': 'Ministry of Justice',
        'href': home_url,
      },
      'serviceLabel': {
        'text': service_name,
        'href': home_url,
      },
      'navigation': {
        'label': 'Account navigation',
        'items': [
          {
            'href': home_url,
            'text': request.user.name | default(request.user.email),
            'active': True
          },
          {
            'href': signout_url,
            'text': 'Sign out'
          }
        ]
      }
    }) }}
  {%- else -%}
    {{ mojHeader({
      'organisationLabel': {
        'text': 'Ministry of Justice',
        'href': home_url,
      },
      'serviceLabel': {
        'text': service_name,
        'href': home_url,
      },
    }) }}
  {%- endif %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        Provide your <a class="govuk-link" href="{{url("feedback-create")}}">Feedback</a> to help us improve this service.
      </span>
    </p>
  </div>

  {% if not hide_nav and request.user.is_authenticated %}
  {{ mojPrimaryNavigation({
    "label": "Primary navigation",
    "items": [
      {
        "hide": not request.user.is_superuser,
        "text": "Home",
        "href": home_url,
        "active": page_name == "home",
      },
      {
        "hide": not request.user.is_staff,
        "text": "Admin",
        "href": url("admin:index"),
      },
      {
        "text": "Analytical tools",
        "href": url("list-tools"),
        "active": page_name == "tools",
      },
      {
        "text": "Warehouse data",
        "href": url("list-warehouse-datasources"),
        "active": page_name == "warehouse-datasource-list",
      },
      {
        "hide": not request.user.show_webapp_data_link,
        "text": "Webapp data",
        "href": url("list-webapp-datasources"),
        "active": page_name == "webapp-datasource-list",
      },
      {
        "text": "Webapps",
        "href": url("list-apps"),
        "active": page_name == "webapps",
      },
      {
        "hide": not request.user.is_superuser and not request.user.is_database_admin,
        "text": "Databases",
        "href": url("list-databases"),
        "active": page_name == "databases",
      },
      {
        "text": "Parameters",
        "href": url("list-parameters"),
        "active": page_name == "parameters",
      },
      {
        "hide": not request.user.has_perm("api.quicksight_embed_access"),
        "text": "QuickSight",
        "href": url("quicksight"),
        "active": page_name == "quicksight",
      },
      {
        "hide": not request.user.is_superuser,
        "text": "Groups",
        "href": url("list-policies"),
        "active": page_name == "groups",
      },
      {
        "text": "Training",
        "href": "https://moj-analytical-services.github.io/ap-tools-training/",
        "active": page_name == "training",
        "attributes": [["target", "_blank"]]
      },
      {
        "text": "Help",
        "href": url("help"),
        "active": page_name == "help",
      },
    ],
  }) }}
  {% endif %}

  {{ alerts() }}
  {% if not hide_nav and request.user.is_authenticated and broadcast_messages %}
  <br/>
  <div class="govuk-width-container">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        {% for message in broadcast_messages %}
        {{ message }} <br/>
        {% endfor %}
      </strong>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'navigation': [
      {
        'title': 'Related resources',
        'items': [
          {
            'href': user_guidance_base_url,
            'text': "Platform user guidance",
          },
          {
            'href': user_guidance_base_url + "/support.html",
            'text': "Platform support",
          },
          {
            'href': "https://asdslack.slack.com/messages/C1PUCG719/#",
            'text': "R Slack channel",
          },
          {
            'href': "https://asdslack.slack.com/messages/C1Q09V86S/#",
            'text': "Python slack channel",
          },
          {
            'href': "https://asdslack.slack.com/messages/C4PF7QAJZ#",
            'text': "Analytical platform slack channel",
          },
          {
            'href': url('accessibility'),
            'text': "Accessibility statement",
          },
        ],
      },
    ],
  }) }}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    <script type="module" src="{{ static('assets/js/govuk-frontend.min.js') }}"></script>
    <script type="module">
      import { initAll } from "{{ static('assets/js/govuk-frontend.min.js') }}"
      initAll()
    </script>
    <script src="{{ static('accessible-autocomplete/accessible-autocomplete.min.js') }}"></script>
    <script src="{{ static('jquery/jquery.min.js') }}"></script>
    <script src="{{ static('jquery-ui/jquery-ui.min.js') }}"></script>
    <link href="{{ static('jquery-ui/themes/base/jquery-ui.min.css') }}" rel="stylesheet" />

    <script src="{{ static('app.js') }}?version=v0.29.35"></script>
    <script>window.moj.init();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_id }}');
    </script>
    {% block page_scripts %}{% endblock %}
  {% endblock %}
{% endblock %}
