{% from "header/macro.html" import mojHeader with context %}
{% from "footer/macro.html" import govukFooter %}
{% from "navbar/macro.html" import mojPrimaryNavigation %}
{% from "alerts/macro.html" import alerts with context %}

{% extends "govuk-frontend.html" %}

{% set service_name = "Analytical Platform Control Panel" %}
{% set home_url = url("index") %}

{% block page_title %}
  {{ page_title }} | {{ service_name }}
{% endblock %}

{% block head %}
  <link href="{{ static('accessible-autocomplete/accessible-autocomplete.min.css') }}" rel="stylesheet">

  <!--[if !IE 8]><!-->
    <link href="{{ static('app.css') }}" rel="stylesheet">
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="{{ static('govuk-frontend/all-ie8.min.css') }}" rel="stylesheet">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="{{ static('html5-shiv/html5shiv.js') }}"></script>
  <![endif]-->

  <meta name="whats-new-hash" content="{{ whats_new_hash | default("") }}">
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block header %}
  {% if request.user.is_authenticated -%}
    {{ mojHeader({
      'organisationLabel': {
        'text': 'Ministry of Justice',
        'href': home_url,
      },
      'serviceLabel': {
        'text': service_name,
        'href': home_url,
      },
      'navigation': {
        'label': 'Account navigation',
        'items': [
          {
            'href': home_url,
            'text': request.user.name | default(request.user.email),
            'active': True
          },
          {
            'html': '<a class="moj-header__navigation-link" href="' ~ url('oidc_logout') ~ '">Sign out</a>'
          }
        ]
      }
    }) }}
  {%- else -%}
    {{ mojHeader({
      'organisationLabel': {
        'text': 'Ministry of Justice',
        'href': home_url,
      },
      'serviceLabel': {
        'text': service_name,
        'href': home_url,
      },
    }) }}
  {%- endif %}
{% endblock %}

{% block beforeContent %}
  {% if not hide_nav and request.user.is_authenticated %}
  {{ mojPrimaryNavigation({
    "label": "Primary navigation",
    "items": [
      {
        "hide": not request.user.is_superuser,
        "text": "Home",
        "href": home_url,
        "active": page_name == "home",
        "admin": request.user.is_superuser,
      },
      {
        "text": "Analytical tools",
        "href": url("list-tools"),
        "active": page_name == "tools",
      },
      {
        "text": "Warehouse data",
        "href": url("list-warehouse-datasources"),
        "active": page_name == "warehouse-datasource-list",
      },
      {
        "hide": not request.user.users3buckets.filter(s3bucket__is_data_warehouse=False).exists(),
        "text": "Webapp data",
        "href": url("list-webapp-datasources"),
        "active": page_name == "webapp-datasource-list",
      },
      {
        "hide": not request.user.userapps.filter(is_admin=True).exists(),
        "text": "Webapps",
        "href": url("list-apps"),
        "active": page_name == "webapps",
      },
      {
        "text": "Parameters",
        "href": url("list-parameters"),
        "active": page_name == "parameters",
      },
      {
        "hide": not request.user.is_superuser,
        "text": "Groups",
        "href": url("list-policies"),
        "active": page_name == "groups",
        "admin": request.user.is_superuser,
      },
    ],
  }) }}
  {% endif %}

  {{ alerts() }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'navigation': [
      {
        'title': 'Related resources',
        'items': [
          {
            'href': user_guidance_base_url,
            'text': "Platform user guidance",
          },
          {
            'href': user_guidance_base_url + "/support.html",
            'text': "Platform support",
          },
          {
            'href': "https://asdslack.slack.com/messages/C1PUCG719/#",
            'text': "R Slack channel",
          },
          {
            'href': "https://asdslack.slack.com/messages/C1Q09V86S/#",
            'text': "Python slack channel",
          },
          {
            'href': "https://asdslack.slack.com/messages/C4PF7QAJZ#",
            'text': "Analytical platform slack channel",
          },
          {
            'href': url('whats-new'),
            'text': "What's new?",
          },
        ],
      },
    ],
  }) }}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    <script src="{{ static('govuk-frontend/govuk/all.js') }}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script src="{{ static('accessible-autocomplete/accessible-autocomplete.min.js') }}"></script>
    <script src="{{ static('jquery/jquery.min.js') }}"></script>

    <script src="{{ static('app.js') }}"></script>
    <script>window.moj.init();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_id }}');
    </script>
    {% block page_scripts %}{% endblock %}
  {% endblock %}
{% endblock %}
