{% from "header/macro.html" import govukHeader with context %}
{% from "footer/macro.html" import govukFooter %}
{% from "navbar/macro.html" import navbar %}
{% from "alerts/macro.html" import alerts with context %}
{% from "sign-out/macro.html" import sign_out_link with context %}

{% extends "govuk-frontend.html" %}

{% set service_name = "Analytical Platform Control Panel" %}

{% block page_title %}
  {{ page_title }} | {{ service_name }}
{% endblock %}

{% block head %}
  <link href="{{ static('accessible-autocomplete/accessible-autocomplete.min.css') }}" rel="stylesheet">

  <!--[if !IE 8]><!-->
    <link href="{{ static('app.css') }}" rel="stylesheet">
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="{{ static('govuk-frontend/all-ie8.min.css') }}" rel="stylesheet">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="{{ static('html5-shiv/html5shiv.js') }}"></script>
  <![endif]-->

  <meta name="whats-new-hash" content="{{ whats_new_hash | default("") }}">
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block header %}
  {% if request.user.is_authenticated -%}
    {{ govukHeader({
      'serviceName': service_name,
      'serviceUrl': '#',
      'navigation': [
        {
          'href': url('index'),
          'text': "Signed in as " ~ request.user.name | default(request.user.email),
          'active': True
        },
        {
          'html': sign_out_link(),
        }
      ]
    }) }}
  {%- else -%}
    {{ govukHeader({
      'serviceName': service_name,
      'serviceUrl': '#',
    }) }}
  {%- endif %}
{% endblock %}

{% block beforeContent %}
  {% if not hide_nav and request.user.is_authenticated %}
  {{ navbar({
    "items": [
      {
        "hide": not request.user.is_superuser,
        "text": "Home",
        "href": url("index"),
        "active": page_name == "home"
      },
      {
        "text": "Analytical tools",
        "href": url("list-tools"),
        "active": page_name == "tools"
      },
      {
        "text": "Warehouse data",
        "href": url("list-warehouse-datasources"),
        "active": page_name == "warehouse-datasource-list"
      },
      {
        "hide": not request.user.users3buckets.filter(s3bucket__is_data_warehouse=False).exists(),
        "text": "Webapp data",
        "href": url("list-webapp-datasources"),
        "active": page_name == "webapp-datasource-list"
      },
      {
        "hide": not request.user.userapps.filter(is_admin=True).exists(),
        "text": "Webapps",
        "href": url("list-apps"),
        "active": page_name == "webapps"
      },
      {
        "hide": not request.user.is_superuser,
        "text": "Parameters",
        "href": url("list-parameters"),
        "active": page_name == "parameters"
      }
    ]
  }) }}
  {% endif %}

  {{ alerts() }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'meta': {
      'items': [
        {
          'href': "https://moj-analytical-services.github.io/platform_user_guidance",
          'text': "Platform user guidance"
        },
        {
          'href': "https://moj-analytical-services.github.io/platform_user_guidance/how-to-get-support.html",
          'text': "Platform support"
        },
        {
          'href': "https://asdslack.slack.com/messages/C1PUCG719/#",
          'text': "R Slack channel"
        },
        {
          'href': "https://asdslack.slack.com/messages/C1Q09V86S/#",
          'text': "Python slack channel"
        },
        {
          'href': "https://asdslack.slack.com/messages/C4PF7QAJZ#",
          'text': "Analytical platform slack channel"
        },
        {
          'href': url('whats-new'),
          'text': "What's new?"
        }
      ]
    }
  }) }}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    <script src="{{ static('govuk-frontend/all.js') }}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script src="{{ static('accessible-autocomplete/accessible-autocomplete.min.js') }}"></script>
    <script src="{{ static('jquery/jquery.min.js') }}"></script>

    <script src="{{ static('app.js') }}"></script>
    <script>window.moj.init();</script>

    {% block page_scripts %}{% endblock %}
  {% endblock %}
{% endblock %}
