{% from "error-summary/macro.html" import govukErrorSummary -%}

{% extends "base.html" %}

{% set page_name = "dashboards" %}
{% set page_title = "Update description - " ~ dashboard.name %}
{% set back_link_url = dashboard.get_absolute_url() %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if form.errors %}
        {{ govukErrorSummary(titleText="There is a problem", errorList=form.errors.items()) }}
      {% endif %}

      <span class="govuk-caption-xl">{{ dashboard.name }}</span>
      <h1 class="govuk-heading-xl">Change description</h1>

      <form method="post" action="{{ dashboard.get_absolute_change_description_url() }}" novalidate>
        {{ csrf_input }}
        <div class="govuk-form-group {% if form.description.errors %}govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--m" for="{{ form.description.id_for_label }}">
              Enter a description
            </label>
            <div id="description-hint" class="govuk-hint">
              Help others understand what your dashboard shows. Explain any acronyms or less common terms.
            </div>

            {% if form.description.errors %}
            <span id="description-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ form.description.errors.0 }}
            </span>
            {% endif %}

            {{form.description}}
          </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Save</button>
          <a class="govuk-link" href="{{ back_link_url }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
