{% extends "base.html" %}

{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "customers/macro.html" import display_dashboard_user %}
{% from "menus/customers.html" import displayCustomerMenu %}

{% set page_title = "Dashboard users" %}
{% set page_name = "Dashboard users" %}
{% set remove_perm = request.user.has_perm('api.remove_dashboard_customer', dashboard) %}

{% set dashboard_customers_html %}
{% include "modals/dashboard_customers.html" %}
{% endset %}

{% block content %}

<h2 class="govuk-heading-m">
    User management for {{ dashboard.name }}
</h2>

<h2 class="govuk-heading-s">
  Manage Your Dashboard
</h2>

<p class="govuk-body">
  <a href="{{ url('manage-dashboard', kwargs={ 'pk': dashboard.id }) }}">Manage dashboard</a>
</p>

<h2 class="govuk-heading-s">
  Dashboard users
  {{ modal_dialog(dashboard_customers_html|safe) }}
</h2>

<form method="post" action="{{ url("remove-dashboard-customer", kwargs={"pk": dashboard.id}) }}">
  {{ csrf_input }}
  <button class="govuk-button govuk-button--secondary right selectable-rows__enable-on-selections"
          type="submit"
          name="submit"
          disabled="disabled"
          value="submit">
    Remove all selected users
  </button>

  <table class="govuk-table selectable-rows">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" ></th>
        <th class="govuk-table__header" colspan="2">User email</th>

        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body" id="list-customers-paginated">
      {% for customer in customers %}
        {{ display_dashboard_user(
            user = customer,
            has_remove_perm= remove_perm
          ) }}
      {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
        </td>
      </tr>
    </tfoot>
  </table>
</form>

{{ displayCustomerMenu(
    reverse = {
      "url": "dashboard-customers",
      "kwargs": {"pk": dashboard.id },
      "first_kw": {"pk": dashboard.id, "page_no": paginator.page_range[0]},
      "previous_kw": {"pk": dashboard.id, "page_no": page_no-1},
      "next_kw": {"pk": dashboard.id, "page_no": page_no+1},
      "last_kw": {"pk": dashboard.id, "page_no": paginator.page_range[-1]}
    },
    paginator = paginator,
    elided = elided,
    show_dots = False,
    page_no = page_no,
  )
}}

  {% if request.user.has_perm('api.add_dashboard_customer', dashboard) %}
    <form action="{{ url('add-dashboard-customers', kwargs={ "pk": dashboard.id }) }}" method="post">
      {{ csrf_input }}
      <div class="govuk-form-group {% if errors and errors.customer_email %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="customer_email">
          Add users by entering their email addresses (separated by spaces)
        </label>
        {% if errors and errors.customer_email %}
          {% for error in errors.customer_email %}
          <span id="customer_email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        <input id="customer_email" class="govuk-input cpanel-input" name="customer_email" autocomplete="off">
      </div>
      <div class="govuk-form-group">
        <button class="govuk-button">Add user</button>
      </div>
    </form>
  {% endif %}

  {% if remove_perm %}
    <form action="{{ url('remove-dashboard-customer-by-email', kwargs={ "pk": dashboard.id}) }}" method="post">
      {{ csrf_input }}
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ remove_customer_form.email.id_for_label }}">
          Remove a user by entering their email address
        </label>
        {{ remove_customer_form.email }}
      </div>
      <div class="govuk-form-group">
        <button class="govuk-button">Remove user</button>
      </div>
    </form>
  {% endif %}


{% endblock %}
