
{% extends "base.html" %}

{% set page_name = "dashboards" %}
{% set page_title = "Add domain - " ~ dashboard.name %}

{% block content %}

  <span class="govuk-caption-xl">{{ dashboard.name }}</span>
  <h1 class="govuk-heading-xl">Add domain</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Allow all users on a specified email domain to view your dashboard.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Do not use for dashboards containing sensitive data.
        </strong>
      </div>


      <p class="govuk-body govuk-!-font-weight-bold">Add a domain</p>
      <form method="post" action="{{ url('grant-domain-access', kwargs={'pk': dashboard.id}) }}">
        {{ csrf_input }}
        <div class="govuk-form-group">
          {{ form.whitelist_domain }}
          <div class="govuk-button-group govuk-!-margin-top-4">
            <button type="submit" class="govuk-button govuk-!-margin-right-2">
              Add domain
            </button>
            <a href="{{ url('manage-dashboard-sharing', kwargs={'pk': dashboard.id}) }}#domain-access" class="govuk-link">
              Cancel
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
