
{% extends "base.html" %}

{% set page_name = "dashboards" %}
{% set page_title = "Remove dashboard - " ~ dashboard.name %}

{% block content %}

  <span class="govuk-caption-xl">{{ dashboard.name }}</span>
  <h1 class="govuk-heading-xl">Remove dashboard</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-font-weight-bold">Are you sure you want to remove this dashboard?</p>

      <p class="govuk-body">You are about to remove this dashboard from the dashboard service and revoke all access.</p>

      <p class="govuk-body">This will not delete your dashboard in QuickSight.</p>

      <form method="post" action="{{ url('delete-dashboard', kwargs={'pk': dashboard.id}) }}">
        {{ csrf_input }}
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-2">
            Remove
          </button>
          <a href="{{ url('manage-dashboard-sharing', kwargs={'pk': dashboard.id}) }}" class="govuk-link">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
