{% extends "base.html" %}
{% from "includes/success-panel.html" import success_panel with context %}

{% set page_name = "dashboards" %}
{% set page_title = "Manage Sharing - " ~ dashboard.name %}

{% block content %}

<header>

  {% if success_message %}
    {{ success_panel(success_message.heading, success_message.message) }}
  {% endif %}

  <span class="govuk-caption-xl">{{ dashboard.name }}</span>
  <h1 class="govuk-heading-xl">Manage Sharing</h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#overview">
          Overview
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#admins">
          Admins ({{ num_admins }})
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#viewers">
          Viewers ({{ num_viewers }})
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#domain-access">
          Domain access ({{ num_domains }})
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="overview">
      <h2 class="govuk-heading-m">
        Description
        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-regular govuk-!-margin-left-2" href="#TODO">Change</a>
      </h2>
      <p class="govuk-body">
        {{ dashboard.description }}
      </p>
      <h2 class="govuk-heading-m">Dashboard URL</h2>
      <p class="govuk-body">
        <a href="{{ dashboard.url }}">{{ dashboard.url }}</a>
      </p>
      <h2 class="govuk-heading-m">Dashboard preview</h2>
      <div id="dashboard-container" class="govuk-!-margin-bottom-6"></div>
      <p class="govuk-body">
        <a href="{{ dashboard.get_absolute_delete_url() }}" class="govuk-link">Remove this dashboard</a> from the dashboard service and revoke all access.<br>
        <strong>This will not delete your dashboard in QuickSight</strong>.
      </p>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="admins">
      <h2 class="govuk-heading-m">Dashboard admins</h2>
      <p class="govuk-body">You can choose other Control Panel users to manage access. <br>This does not grant any author permissions in QuickSight.</p>
      <a class="govuk-button" href="{{ dashboard.get_absolute_add_admins_url() }}">Add admins</a>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Admin</th>
            <th scope="col" class="govuk-table__header">Date added</th>
            <th scope="col" class="govuk-table__header">Added by</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for admin in dashboard_admins %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ admin.name }}</td>
            <td class="govuk-table__cell">#TODO</td>
            <td class="govuk-table__cell">#TODO</td>
            <td class="govuk-table__cell">{% if num_admins > 1 %}<a class="govuk-link" href="#TODO">Remove admin</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="viewers">
      <h2 class="govuk-heading-m">Viewers</h2>
      <p>Allow colleagues and stakeholders to view your dashboards.<br>They'll be able to view even without Analytical Platform access.</p>
      <a class="govuk-button" href="{{ dashboard.get_absolute_add_viewers_url() }}">Add viewers</a>
      {% if num_viewers %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Viewer</th>
              <th scope="col" class="govuk-table__header">Date shared</th>
              <th scope="col" class="govuk-table__header">Shared by</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for viewer in dashboard_viewers %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ viewer.email }}</td>
                <td class="govuk-table__cell">#TODO</td>
                <td class="govuk-table__cell">#TODO</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="#TODO">Remove viewer</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="domain-access">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Domain access
        </h2>

        <p class="govuk-body">
            Allow all users on a specified email domain to view your dashboard.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">
            Do not use for dashboards containing sensitive data.
        </p>

        {% if show_add_domain_button %}
        <a class="govuk-button " href="{{ url('grant-domain-access', kwargs={'pk': dashboard.id}) }}">
            Add domain
        </a>
        {% endif %}
    </div>
    {% if num_domains > 0 %}
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Domain</th>
                <th scope="col" class="govuk-table__header">Date added</th>
                <th scope="col" class="govuk-table__header">
                    <span class="govuk-visually-hidden">Actions</span>
                </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for domain in domain_whitelist %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{domain.name}}</th>
                    <td class="govuk-table__cell">Date here</td>
                    <td class="govuk-table__cell"><a href="{{ url('revoke-domain-access', kwargs={'pk': dashboard.id, 'domain_id': domain.id}) }}" class="govuk-link">Remove domain</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

    </div>
  </div>

{% endblock %}


{% block body_end %}
  {{ super() }}
  <script src="{{ static("assets/js/quicksight-embedding-js-sdk.min.js") }}"></script>
  <script>
  (async function() {
      const { createEmbeddingContext } = QuickSightEmbedding;

      const embeddingContext = await createEmbeddingContext();

      await embeddingContext.embedDashboard({
          url: "{{ embed_url|safe }}",
          container: '#dashboard-container',
          height: window.innerHeight * 0.6,
          width: "100%",
      });
  })();
  </script>
{% endblock %}
