{% from "includes/dashboard-list.html" import dashboard_list with context %}
{% from "includes/success-panel.html" import success_panel with context %}

{% extends "base.html" %}

{% set page_name = "dashboards" %}
{% set page_title = "Share dashboards" %}

{% if display_service_info %}
  {% set mainClasses = "govuk-!-padding-top-0" %}
{% endif %}

{% block content %}

<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="{{url("quicksight")}}">QuickSight</a>
        </li>
        <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="{{url("list-dashboards")}}">Share dashboards</a>
        </li>
    </ul>
</nav>

  {% if success_message %}
    {{ success_panel(
      success_message.heading,
      success_message.message
    ) }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Allow colleagues and stakeholders to view your dashboards. They'll be able to view even without Analytical Platform access.</p>

      <p class="govuk-body">Choose from your existing dashboards to share.</p>
    </div>
  </div>

  <p class="govuk-body">
    <a class="govuk-button govuk-!-margin-bottom-0" href="{{ url('register-dashboard') }}">
      Share a dashboard
    </a>
  </p>

  {{ dashboard_list(dashboards, request.user) }}


{% endblock %}
