{% from "error-message/macro.html" import govukErrorMessage %}
{% from "autocomplete/macro.html" import autocomplete %}
{% from "input/macro.html" import govukInput %}
{% from "label/macro.html" import govukLabel %}
{% from "hint/macro.html" import govukHint %}


{% extends "base.html" %}

{% set page_title = "Share a dashboard" %}

{% set back_link_url = url("list-dashboards") %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if form.errors %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in error_summary %}
                <li>
                  {% if error.field == '__all__' or error.field == 'emails' %}
                    <a href="#emails[0]">{{ error.text }}</a>
                  {% else %}
                    <a href="#id_{{ error.field }}">{{ error.text }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
    <h1 class="govuk-heading-xl">{{ page_title }}</h1>

    <form method="post" action="{{ url("register-dashboard") }}">
      {{ csrf_input }}

      {% set error_qs_msg = form.errors.get("quicksight_id") %}
      {% set initial_quicksight_id = form.initial.get("quicksight_id", "") %}
      {% call(dashboard) autocomplete({
        "id": "id_quicksight_id",
        "name": "quicksight_id",
        "label": {"text": "Choose dashboard", "classes": "govuk-label--s"},
        "hint": {"text": "Start typing the name of your dashboard as it appears in QuickSight."},
        "items": dashboards,
        "required": False,
        "showAllValues": True,
        "formGroup": {"classes": "autocomplete--full-width"},
        "errorMessage": {"html": error_qs_msg|join(". ")} if error_qs_msg else None,
        "value": initial_quicksight_id,
      }) %}
        <option value="{{ dashboard.DashboardId }}"{% if dashboard.DashboardId == initial_quicksight_id %} selected{% endif %}>{{ dashboard.Name }}</option>
      {% endcall %}
      {% set error_desc_msg = form.errors.get("description") %}
      <div class="govuk-form-group{% if error_desc_msg %} govuk-form-group--error{% endif %}" id="container-element">

        <label class="govuk-label govuk-label--s" for="description">Enter a description
        </label>
        <div id="description-hint" class="govuk-hint">
          Help people understand what your dashboard shows. Explain any acronyms or less common terms.
        </div>

        {% if error_desc_msg %}
          {% set errorId = 'description-error' %}
          {{ govukErrorMessage({
            "id": errorId,
            "html": error_desc_msg|join(". "),
          }) }}
        {% endif %}

        <textarea type="text" class="govuk-textarea{% if error_desc_msg %} govuk-textarea--error{% endif %}" id="id_description" name="description" rows="5" aria-describedby="description-hint">{{ form.initial.get("description", "") }}</textarea>

      </div>

      {% set emails_error = form.errors.get("emails") %}
      {% set initial_emails = form.initial.get("emails", []) %}
      <div class="govuk-form-group{% if emails_error %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">

          <div data-module="moj-add-another">
            {% if initial_emails %}
              {% for email in initial_emails %}
              <div class="moj-add-another__item">
                {{ govukInput({
                  "label": {"html": "<b>Add an email</b>"},
                  "hint": {"text": "Enter an email address to share with."},
                  "name": "emails[" ~ loop.index0 ~ "]",
                  "id": "emails[" ~ loop.index0 ~ "]",
                  "type": "email",
                  "value": email,
                  "attributes": {
                    "data-name": "emails[%index%]",
                    "data-id": "emails[%index%]"
                  }
                }) }}
              </div>
              {% endfor %}
            {% else %}
            <div class="moj-add-another__item">
              {{ govukInput({
                "label": {"html": "<b>Add an email</b>"},
                "hint": {"text": "Enter an email address to share with."},
                "name": "emails[0]",
                "id": "emails[0]",
                "type": "email",
                "attributes": {
                  "data-name": "emails[%index%]",
                  "data-id": "emails[%index%]"
                },
                "errorMessage": {"html": emails_error|join(". ")} if emails_error else None
              }) }}
            </div>
            {% endif %}

            <div class="moj-button-action govuk-!-margin-top-4">
              <button type="button" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4">
                Add another email
              </button>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-form-group{% if form.whitelist_domain.errors %} govuk-form-group--error{% endif %}">
        {{ govukLabel({"text": "Add domain access", "classes": "govuk-label--s", "for": "id_whitelist_domain"}) }}
        {{ govukHint({"id": "whitelist-domain-hint", "html": "Allow all users on a specified email domain to view your dashboard. <br><b>Do not use for dashboards containing sensitive data.</b>"}) }}
        {% if form.whitelist_domain.errors %}
          {{ govukErrorMessage({"id": "whitelist-domain-error", "text": form.whitelist_domain.errors|join(". ")}) }}
        {% endif %}
        <select name="whitelist_domain" id="id_whitelist_domain" class="govuk-select{% if form.whitelist_domain.errors %} govuk-select--error{% endif %}" aria-describedby="whitelist-domain-hint{% if form.whitelist_domain.errors %} whitelist-domain-error{% endif %}">
          <option value="">No domain selected</option>
          {% for choice in form.whitelist_domain.field.queryset %}
            <option value="{{ choice.id }}"{% if form.whitelist_domain.value() == choice.id|string %} selected{% endif %}>{{ choice.name }}</option>
          {% endfor %}
        </select>
      </div>


      <div class="govuk-button-group">
        <button class="govuk-button">Next</button>
        <a class="govuk-link" href="{{ url("cancel-dashboard-registration") }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
