{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "includes/datasource-list.html" import datasource_list with context %}
{% from "user/macro.html" import user_name %}

{% extends "base.html" %}

{% set page_name = "all-datasources" %}
{% set page_title = "All data sources" %}

{% set access_levels_html %}
{% include "modals/user_data_access_levels.html" %}
{% endset %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

{% if all_datasources and request.user.has_perm('api.is_superuser') %}
<h2 class="govuk-heading-m">Update all bucket lifecycle configurations</h2>

<form action="{{ url("update-lifecycle") }}" method="post">
  {{ csrf_input }}
  <button class="govuk-button js-confirm"
          data-confirm-message="Are you sure you want to update all bucket lifecycle configurations?">
          Update configurations
  </button>
</form>
{% endif %}

{% if request.user.has_perm('api.list_s3bucket') %}
  {{ datasource_list(buckets, datasource_type|default(""), request.user) }}
{% endif %}


{% if request.user.is_superuser and deleted_datasources %}
  <h3 class="govuk-heading-m">Deleted data sources</h3>
  {{ datasource_list(deleted_datasources, datasource_type|default(""), request.user) }}
{% endif %}

{% endblock %}
