{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "radios/macro.html" import govukRadios %}
{% from "user/macro.html" import user_name %}
{% from "includes/datasource-access-list.html" import datasource_access_list %}
{% from "includes/yesno.html" import yes_no %}
{% from "includes/data-access-level-options.html" import data_access_level_options with context %}
{% from "includes/datasource-access-form.html" import data_access_paths_textarea %}

{% extends "base.html" %}

{% set page_name = datasource_type + "-datasource-list" %}
{% set page_title = bucket.name %}

{% set access_levels_html %}
{% include "modals/user_data_access_levels.html" %}
{% endset %}

{% block content %}
<span class="govuk-caption-xl">{{ datasource_type|capitalize }} data source</span>
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<p class="govuk-body">
  <a href="{{ bucket.aws_url }}" class="govuk-button hmcts-button--secondary" target="_blank" rel="noopener">
    Open on AWS
  </a>
</p>

<section class="cpanel-section">
  <h2 class="govuk-heading-m">Users with access</h2>
  {{ datasource_access_list("User", access_users, request, datasource_type) }}

  {% if request.user.has_perm('api.create_users3bucket', bucket) and users_options|length %}
    <a href="{{ url('grant-datasource-access', kwargs={'pk': bucket.pk}) }}"
       class="govuk-button hmcts-button--secondary">
      Grant user access
    </a>
  {% endif %}

  {% if request.user.has_perm('api.manage_groups') %}
    <h2 class="govuk-heading-m">Groups with access</h2>
    {{ datasource_access_list("Group", access_policies, request, datasource_type) }}

    {% if request.user.has_perm('api.create_policys3bucket', bucket) and policies_options|length %}
      <a href="{{ url('grant-datasource-policy-access', kwargs={'pk': bucket.pk}) }}"
         class="govuk-button hmcts-button--secondary">
        Grant group access
      </a>
    {% endif %}
  {% endif %}
</section>

{% if not bucket.is_data_warehouse %}
{% set apps3buckets = bucket.apps3buckets.all() %}
<section class="cpanel-section">
  <h2 class="govuk-heading-m">Apps with access</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">App</th>
        <th class="govuk-table__header">
          Access level
          {{ modal_dialog(access_levels_html|safe) }}
        </th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
    </thead>
    <tbody class="govuk-table__body">
    {% for apps3bucket in apps3buckets %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {% if request.user.has_perm('api.retrieve_app', apps3bucket.app) %}
            <a href="{{ url('manage-app', kwargs={ "pk": apps3bucket.app.id }) }}">{{ apps3bucket.app.name }}</a>
          {% else %}
            {{ apps3bucket.app.name }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {{ yes_no(apps3bucket.access_level, 'readwrite', "Read/write", "Read only") }}
        </td>
        <td class="govuk-table__cell">
          {% if request.user.has_perm('api.update_apps3bucket', apps3bucket) %}
            <form action="{{ url('update-app-access', kwargs={ "pk": apps3bucket.id }) }}"
                  method="post"
                  class="form-control-prefix">
              {{ csrf_input }}
              <input type="hidden"
                     name="access_level"
                     value="{{ yes_no(apps3bucket.access_level, 'readwrite', 'readonly', 'readwrite') }}">
              <input type="hidden" name="return_to" value="manage-datasource">
              <button class="confirm govuk-button hmcts-button--secondary">
                Set {{ yes_no(apps3bucket.access_level, 'readwrite', 'read only', 'read/write') }}
              </button>
            </form>
          {% endif %}
          {% if request.user.has_perm('api.remove_app_bucket', apps3bucket.app) %}
            <form action="{{ url('revoke-app-access', kwargs={ "pk": apps3bucket.id }) }}"
                  method="post"
                  class="form-control-prefix">
              {{ csrf_input }}
              <button class="confirm govuk-button hmcts-button--secondary">
                Revoke access
              </button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ apps3buckets|length }}
          app{%- if apps3buckets|length != 1 %}s have{% else %} has{% endif %}
          access to this {{ datasource_type }} data source
        </td>
      </tr>
    </tfoot>
  </table>

  {% if request.user.has_perm('api.create_apps3bucket', bucket) and app_options|length %}
    <a href="{{ url('grant-app-access', kwargs={'pk': bucket.pk}) }}"
       class="govuk-button hmcts-button--secondary">
      Grant app access
    </a>
  {% endif %}
</section>
{% endif %}

{% if request.user.has_perm('api.view_s3bucket_logs', bucket) %}
<section class="cpanel-section">
  {% set num_log_entries = access_logs|length %}
  <h2 class="govuk-heading-m">Data access log</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Accessed by</th>
        <th class="govuk-table__header">Count</th>
        <th class="govuk-table__header">Type</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for entry in access_logs %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ entry.accessed_by }}</td>
        <td class="govuk-table__cell">{{ entry.count }}</td>
        <td class="govuk-table__cell">{{ entry.type }}</td>
      </tr>
    {% endfor %}
    </tbody>
    {% if num_log_entries < 1 %}
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          No access recorded for this period
        </td>
      </tr>
    </tfoot>
    {% endif %}
  </table>
</section>
{% endif %}

{% if request.user.has_perm('api.destroy_s3bucket', bucket) %}
<section class="cpanel-section">
  <form action="{{ url('delete-datasource', kwargs={ "pk": bucket.id }) }}" method="post">
    {{ csrf_input }}
    <button class="govuk-button cpanel-button--destructive js-confirm"
            data-confirm-message="Are you sure you want to delete this data source?">
      Delete data source
    </button>
  </form>
</section>
{% endif %}
{% endblock %}
