{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "includes/datasource-list.html" import datasource_list with context %}
{% from "user/macro.html" import user_name %}

{% extends "base.html" %}

{% if datasource_type %}
  {% set page_name = datasource_type + "-datasource-list" %}
  {% set page_title = "Your " + datasource_type + " data sources" %}
{% else %}
  {% set page_name = "all-datasources" %}
  {% set page_title = "All data sources" %}
{% endif %}

{% set access_levels_html %}
{% include "modals/user_data_access_levels.html" %}
{% endset %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

{% if request.user.has_perm('api.list_s3bucket') %}
  {{ datasource_list(buckets, datasource_type|default(""), request.user) }}

  {% if request.user.has_perm('api.create_s3bucket') %}
  <p class="govuk-body">
  <a class="govuk-button" href="{{ url('create-datasource') }}?type={{ datasource_type|urlencode }}">
      Create new {{ datasource_type }} data source
    </a>
  </p>
  {% endif %}
{% endif %}

{% if other_datasources %}
  <h3 class="govuk-heading-m">Other {{ datasource_type }} data sources</h3>
  <p class="govuk-body">
    You currently <span class="govuk-!-font-weight-bold">do not</span> have access to the following {{ datasource_type }} data sources.
  </p>
  <p class="govuk-body">
    Please refer to the <a href="https://user-guidance.services.alpha.mojanalytics.xyz/data/amazon-s3/#request-access-to-a-bucket" class="govuk-link">user guidance</a> for information on how to get access.
  </p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">
          Your access level
          {{ modal_dialog(access_levels_html|safe) }}
        </th>
        <th class="govuk-table__header">Admins</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for datasource in other_datasources %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ datasource.name }}
        </td>
        <td class="govuk-table__cell">
          No access
        </td>
        <td class="govuk-table__cell">
          {% for admin in other_datasources_admins[datasource.id] %}
            {{ user_name(admin) }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}
