{% from "radios/macro.html" import govukRadios %}
{% from "includes/data-access-level-options.html" import data_access_level_options with context %}
{% from "includes/datasource-access-form.html" import data_access_paths_textarea %}

{% extends "base.html" %}

{% set page_title = "Edit data access level" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

{% if form.errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem on this page
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                Please see details listed below.
              </li>
            </ul>
          </div>
        </div>
{% endif %}

<section class="cpanel-section">
  <form method="post" action="{{ action_url }}">
    {{ csrf_input }}
    <input type="hidden" name="entity_type" value="{{ entity_type }}">
    <input type="hidden" name="entity_id" value="{{ entity_id }}">

    <div {% if form.errors %}class="govuk-form-group--error"{% endif %}>
      <fieldset class="govuk-fieldset ">
        {% if form.errors %}
        <span id="confirm-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {% for error in form.errors.access_level %}
            {{ error | escape }}
          {% endfor %}
        </span>
        {% endif %}
        {{ data_access_level_options(items3bucket) }}
      </fieldset>
    </div>

    {{ data_access_paths_textarea(form.paths) }}

    <button class="govuk-button">Save</button>
  </form>
</section>

{% if request.user.has_perm('api.destroy_users3bucket', items3bucket) %}
<section class="cpanel-section">
  <form method="post" action="{{ revoke_url }}">
    {{ csrf_input }}
    <button class="govuk-button cpanel-button--destructive js-confirm">Revoke access</button>
  </form>
</section>
{% endif %}
{% endblock %}
