{% from "radios/macro.html" import govukRadios %}
{% from "includes/data-access-level-options.html" import data_access_level_options with context %}

{% extends "base.html" %}

{% set page_title = "Edit data access level" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<section class="cpanel-section">
  <form method="post" action="{{ url('update-access-level', kwargs={ "pk": users3bucket.id }) }}">
    {{ csrf_input }}
    <input type="hidden" name="user_id" value="{{ users3bucket.user.id }}">
    {{ data_access_level_options(users3bucket) }}
    <button class="govuk-button">Save</button>
  </form>
</section>

{% if request.user.has_perm('api.destroy_users3bucket', users3bucket) -%}
  <section class="cpanel-section">
    <form method="post" action="{{ url('revoke-datasource-access', kwargs={"pk": users3bucket.id}) }}">
      {{ csrf_input }}
      <button class="govuk-button cpanel-button--destructive">Revoke access</button>
    </form>
  </section>
{%- endif %}
{% endblock %}
