{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "radios/macro.html" import govukRadios %}
{% from "user/macro.html" import user_name %}
{% from "includes/yesno.html" import yes_no %}

{% extends "base.html" %}

{% set page_name = datasource_type + "-datasource-list" %}
{% set page_title = bucket.name %}

{% set access_levels_html %}
{% include "modals/user_data_access_levels.html" %}
{% endset %}

{% block content %}
<span class="govuk-caption-xl">{{ datasource_type|capitalize }} data source</span>
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<p class="govuk-body">
  <a href="{{ bucket.aws_url }}" class="govuk-button hmcts-button--secondary" target="_blank" rel="noopener">
    Open on AWS
  </a>
</p>

<section class="cpanel-section">
  <h2 class="govuk-heading-m">Data access group</h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">User</th>
        <th class="govuk-table__header">
          Access level
          {{ modal_dialog(access_levels_html|safe) }}
        </th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for member in access_group %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a class="{% if request.user == member.user %}highlight-current{% endif %}"
            href="{{ url('manage-user', kwargs={ "pk": member.user.auth0_id }) }}">
            {{ user_name(member.user) }}
          </a>
        </td>
        <td class="govuk-table__cell">
        {% if member.is_admin -%}
          Admin
        {%- else -%}
          {{ yes_no(member.access_level, "readwrite", "Read/write", "Read only") }}
        {%- endif %}
        </td>
        <td class="govuk-table__cell">
          {#
          <div class="govuk-form-group change-data-access-level-panel panel panel-border-narrow js-hidden"
                id="users3bucket_{{ users3bucket.id }}_change-data-access-level-panel">

            <button class="js-close-panel">Close panel</button>

            <form action="{{ url_for('users3buckets.update', { id: users3bucket.id }) }}" method="post" class="inline-form clearfix">
              {{ csrf_input }}
              {{ govukRadios({
                "name": "data_access_level",
                "fieldset": {
                  "legend": {
                    "text": "Data access level",
                  },
                },
                "hint": {
                  "html": "<strong>NOTE:</strong> Making user admin will allow them to confer access rights on additional users.",
                },
                "items": [
                  {"value": "readonly", "text": "Read only", "checked": True},
                  {"value": "readwrite", "text": "Read/write"},
                  {"value": "admin", "text": "Admin"},
                ]
              }) }}
              <div class="govuk-form-group">
                <button class="govuk-button hmcts-button--secondary">Save</button>
              </div>
            </form>

            <hr>
            <div class="form-group js-revoke-access" id="users3bucket_{{ users3bucket.id }}_revoke-access">
              <form action="{{ url_for('users3buckets.delete', { id: users3bucket.id }) }}" method="post" class="inline-form clearfix">
                {{ csrf_input }}
                <input type="submit" class="js-confirm button button-warning" value="Revoke access" />
              </form>
            </div>
          </div>
          #}
          {% if request.user.has_perm('api.update_users3bucket', member) %}
          <a href="{{ url("update-access-level", kwargs={"pk": member.id}) }}"
             class="govuk-button hmcts-button--secondary right">
            Edit access level
          </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ access_group|length }}
          user{%- if access_group|length != 1 -%}s have{% else %} has{% endif %}
          access to this {{ datasource_type }} data source
      </tr>
    </tfoot>
  </table>

  {% if request.user.has_perm('api.create_users3bucket', bucket) %}
  {% if users_options|length %}
    <form action="{{ url('grant-datasource-access', kwargs={"pk": bucket.id}) }}" method="post">
    {{ csrf_input }}
    <div class="govuk-form-group">
      <label class="govuk-label" for="user_id">Grant access to this data to other users</label>
      <select class="govuk-form-control no-blank autocomplete-select" id="user_id" name="user_id">
        <option value="">Select a user</option>
        {% for user in users_options %}
        <option value="{{ user.auth0_id }}">{{ user_name(user) }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group panel panel-border-narrow js-hidden" id="data-access-level-panel">
      {{ govukRadios({
        "name": "access_level",
        "fieldset": {
          "legend": {
            "text": "Data access level",
          },
        },
        "hint": {
          "html": "<strong>NOTE:</strong> Making a user an admin will allow them to confer access rights on additional users.",
        },
        "items": [
          {"value": "readonly", "text": "Read only", "checked": True},
          {"value": "readwrite", "text": "Read/write"},
          {"value": "admin", "text": "Admin"},
        ]
      }) }}
    </div>

    <div class="govuk-form-group">
      <button class="govuk-button">Grant access</button>
    </div>
  </form>
  {% else %}
  <p class="govuk-body">(All available users already have access to this data source.)</p>
  {% endif %}
  {% endif %}
</section>

{% if request.user.has_perm('api.view_s3bucket_logs', bucket) %}
<section class="cpanel-section">
  {% set num_log_entries = access_logs|length %}
  <h2 class="govuk-heading-m">Data access log</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Accessed by</th>
        <th class="govuk-table__header">Count</th>
        <th class="govuk-table__header">Type</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for entry in access_logs %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ entry.accessed_by }}</td>
        <td class="govuk-table__cell">{{ entry.count }}</td>
        <td class="govuk-table__cell">{{ entry.type }}</td>
      </tr>
    {% endfor %}
    </tbody>
    {% if num_log_entries < 1 %}
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          No access recorded for this period
        </td>
      </tr>
    </tfoot>
    {% endif %}
  </table>
</section>
{% endif %}

{% if request.user.has_perm('api.destroy_s3bucket', bucket) %}
<section class="cpanel-section">
  <form action="{{ url('delete-datasource', kwargs={ "pk": bucket.id }) }}" method="post">
    {{ csrf_input }}
    <button class="govuk-button cpanel-button--destructive js-confirm"
            data-confirm-message="Are you sure you want to delete this data source?">
      Delete data source
    </button>
  </form>
</section>
{% endif %}
{% endblock %}
