{% from "includes/data-access-level-options.html" import data_access_level_options with context %}
{% from "includes/datasource-access-form.html" import data_access_paths_textarea %}

{% extends "base.html" %}

{% set page_title = "Grant policy access to datasource" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<section class="cpanel-section">
  <form action="{{ url('grant-datasource-policy-access', kwargs={"pk": bucket.id}) }}" method="post">
    {{ csrf_input }}
    <div class="govuk-form-group">
      <label class="govuk-label" for="user_id">Grant access to this data to groups of users</label>
      <select class="govuk-form-control no-blank autocomplete-select" id="policy_id" name="policy_id">
        <option value="">Select a managed policy</option>
        {% for policy in policies_options %}
          <option value="{{ policy.id }}">{{ policy.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group panel panel-border-narrow js-hidden" id="data-access-level-panel">
      {{ data_access_level_options(bucket) }}
    </div>

    {{ data_access_paths_textarea(form.paths) }}

    <div class="govuk-form-group">
      <button class="govuk-button">Grant policy access</button>
    </div>
  </form>
</section>
{% endblock %}
