{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "includes/datasource-list.html" import datasource_list with context %}

{% extends "base.html" %}

{% if datasource_type %}
  {% set page_name = datasource_type + "-datasource-list" %}
  {% set page_title = "Your " + datasource_type + " data sources" %}
{% else %}
  {% set page_name = "all-datasources" %}
  {% set page_title = "All data sources" %}
{% endif %}

{% set access_levels_html %}
{% include "modals/user_data_access_levels.html" %}
{% endset %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

{% if request.user.has_perm('api.list_s3bucket') %}
  {{ datasource_list(buckets, datasource_type|default(""), request.user) }}

  {% if request.user.has_perm('api.create_s3bucket') %}
  <p class="govuk-body">
  <a class="govuk-button" href="{{ url('create-datasource') }}?type={{ datasource_type|urlencode }}">
      Create new {{ datasource_type }} data source
    </a>
  </p>
  {% endif %}
{% endif %}


<h3 class="govuk-heading-m">Other {{ datasource_type }} data sources</h3>
<p class="govuk-body">
  The following is a list of {{ datasource_type }} data sources you currently don't have access to.
</p>
<p class="govuk-body">
  Please refer to the <a href="https://user-guidance.services.alpha.mojanalytics.xyz/data/amazon-s3/#request-access-to-a-bucket" class="govuk-link">User Guidance</a> for information on how to get access to any of the following {{ datasource_type }} data sources.
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">
        Your access level
        {{ modal_dialog(access_levels_html|safe) }}
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for datasource in other_datasources %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {{ datasource.name }}
      </td>
      <td class="govuk-table__cell">
        No access
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
