{%- from "skip-link/macro.html" import govukSkipLink -%}
{%- from "footer/macro.html" import govukFooter -%}
{%- from "header/macro.html" import mojHeader with context -%}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>
    {%- block page_title -%}
      Ministry of Justice Analytical Platform
    {%- endblock -%}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}" />
  {# Ensure that older IE versions always render with the correct rendering engine #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block headIcons %}
  <link rel="shortcut icon" href="{{ static('govuk-frontend/govuk/assets/images/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ static('ministryofjustice-frontend/moj/assets/images/moj-apple-touch-icon-180x180.png') }}" sizes="180x180">
  <link rel="apple-touch-icon" href="{{ static('ministryofjustice-frontend/moj/assets/images/moj-apple-touch-icon-167x167.png') }}" sizes="167x167">
  <link rel="apple-touch-icon" href="{{ static('ministryofjustice-frontend/moj/assets/images/moj-apple-touch-icon-152x152.png') }}" sizes="152x152">
  <link rel="apple-touch-icon" href="{{ static('ministryofjustice-frontend/moj/assets/images/moj-apple-touch-icon.png') }}">
  {% endblock %}

  {% block head %}{% endblock %}
  {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
  {# image url needs to be absolute e.g. http://wwww.domain.com/.../govuk-opengraph-image.png #}
  {%- set scheme = "http" %}
  {%- set host = "localhost" %}
  {%- if request %}{% set scheme = request.scheme %}{% endif %}
  {%- if request %}{% set host = request.get_host() %}{% endif %}
  <meta property="og:image" content="{{ scheme }}://{{ host }}{{ static('ministryofjustice-frontend/assets/images/moj-opengraph-image.png') }}">
</head>

<body class="app-body {{ bodyClasses or "" }}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <div class="app-pane">
  {% block bodyStart %}{% endblock %}

  {% block skipLink %}
    {{ govukSkipLink({
      'href': '#main-content',
      'text': 'Skip to main content'
    }) }}
  {% endblock %}

  {% block header %}
    {{ mojHeader({}) }}
  {% endblock %}

  {% block main %}
    {% block beforeContent %}{% endblock %}
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper {{ mainClasses or "" }}" id="main-content" role="main">
        {% block content %}{% endblock %}
      </main>
    </div>
  {% endblock %}

  {% block footer %}
    {{ govukFooter({}) }}
  {% endblock %}

  </div>

  {% block body_end %}{% endblock %}
</body>
</html>
