{% extends "base.html" %}

{% set page_title = "Help" %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Help</h1>

        <p class="govuk-body">Common questions, support tasks and issues are
        addressed in the following videos.</p>

        <p class="govuk-body">If you still require help, please visit our
        <a target="_blank" href="https://user-guidance.services.alpha.mojanalytics.xyz/#content">help and support documentation</a>.
        If you encounter a technical issue with our infrastructure, please raise a
        <a target="_blank" href="https://github.com/ministryofjustice/data-platform-support/issues/new/choose">support ticket on Github</a>.
        Please provide your GitHub username and the names of any
        S3 buckets or applications on the Analytical Platform that are
        impacted.</p>

        <h2 class="govuk-heading-m">What is the Analytical Platform?</h2>

        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5467Hl3X9EI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>Related links:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>The
                <a target="_blank"
                href="https://user-guidance.services.alpha.mojanalytics.xyz/get-started.html#get-started">getting started guide</a>
                for new joiners.</li>
            <li>Our
                <a target="_blank"
                href="https://user-guidance.services.alpha.mojanalytics.xyz/#content">help and support documentation</a>
                for users of the platform.</li>
            <li>A
                <a target="_blank"
                href="https://controlpanel.services.alpha.mojanalytics.xyz/">link to the platform</a> itself.</li>
        </ul>

        <h2 class="govuk-heading-m">Home Directory Reset</h2>

        <p class="govuk-body">You need to reset your home directory if:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Your RStudio won't start.</li>
            <li>Your Conda environment needs resetting.</li>
            <li>You need to start RStudio development from a clean state.</li>
        </ul>

        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ziu8dWRRcVM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <ol class="govuk-list govuk-list--number">
            <li>From the <a href="{{ url("list-tools")}}">Analytical tools</a> page,
            follow the link to <a href="{{ url('home-reset') }}">reset your home page</a>.</li>
            <li>Read the information about what a home reset entails.</li>
            <li>Enable the confirmation check-box and click the red "Reset" button.</li>
            <li>You will be redirected back to the Analytical tools page, where you will see confirmation that the reset process has started.</li>
            <li>Once your environment has been reset, click the "Restart" button for RStudio on the <a href="{{ url("list-tools")}}">Analytical tools</a> page.</li>
            <li>Give RStudio time to start up.</li>
        </ol>
      </div>
    </div>
{% endblock %}
