{% extends "base.html" %}

{% set page_title = "Help" %}

{% block content %}
  <div class="govuk-grid-row" id="reset-container">
      <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Help</h1>

    <p class="govuk-body">Common queries, support tasks and problems are
    explained in the following videos.</p>

    <p class="govuk-body">Should you still require help, please visit our
    <a href="https://asdslack.slack.com/messages/C4PF7QAJZ#">support channel on Slack</a>, ask your question whilst remembering to tell us your
    username and the name of any affected S3 buckets or applications on the
    analytical platform that are part of the context of your request.</p>

    <h2 class="govuk-heading-m">How do I..?</h2>

    <p>Home Reset:</p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ziu8dWRRcVM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
{% endblock %}
