{% extends "base.html" %}

{% set page_name = "home" %}
{% set hide_nav = True %}
{% set page_title = "Hello " ~ ( request.user.name if request.user ) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Authenticate with your Justice identity</h1>
      <p class="govuk-body-l">We're planning some changes to how you log into the Analytical Platform. We are transitioning from using GitHub to your Microsoft email (@justice.gov.uk, @publicguardian.gov.uk, etc).</p>
      <p class="govuk-body">For now all you need to do is click the button below to authenticate via Microsoft 365. This is a one-time operation which will link your current Analytical Platform account information to your Microsoft email address. This means you'll keep all your current permissions, and there's nothing extra you need to do.</p>
      <p class="govuk-body">You will continue to log in to the Control Panel via your GitHub account as usual for now. You can read further information about these changes in the <a href="https://mojdt.slack.com/archives/C4PF7QAJZ/p1712592546423129">#analytical-platform-support</a> Slack channel.</p>
      <p class="govuk-body"></p>
      <div class="govuk-button-group">
        <form method="POST" action=".">
          {{ csrf_input }}
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Authenticate with Justice identity
          </button>
        </form>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-s">If you don't have a Microsoft 365 account</h3>
        <p class="govuk-body">You will need to ask your line manager to request one for you. Please raise a request for an account as soon as you can. It can take a week or more to get fully set up with the correct access.</p>
        <p class="govuk-body"><a class="govuk-link" href="{{ url('list-tools') }}">Click here to access the Control Panel while you wait for your account.</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body">If you have any questions or need assistance, please reach out to us in the <a href="https://moj.enterprise.slack.com/archives/C06TC4KKKUL">#analytical-platform-github-identity-migration</a> Slack channel.</p>
      </div>
    </div>
  </div>

{% endblock %}
