{% extends "base.html" %}

{% set page_title = "Login Failure" %}

{% block content %}
<div class="govuk-grid-row" id="reset-container">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Your session has expired</h2>

        <p>
            <a href="{{ auth0_logout_url }}?returnTo={{ request.scheme }}%3A%2F%2F{{ request.get_host() }}%2Foidc%2Flogout%2F">
                Click this link to refresh your session
            </a>
        </p>

        <p>
            If refreshing your session fails

        <ul class="govuk-list govuk-list--bullet">
            <li>You may need to ensure you are in the <a href="https://github.com/moj-analytical-services">MoJ
                    Analytical Services</a> team on GitHub.</li>
            <li>You may have migrated to a newer version of the platform, so your account on this version is no longer
                available.</li>
        </ul>
        </p>
        <p>Alternatively, please refer to our guide for
            <a href="https://user-guidance.services.alpha.mojanalytics.xyz/get-started.html">getting started on the
                Analytical Platform</a>
            for more information.
        </p>
    </div>
</div>
{% endblock %}
