{% extends "base.html" %}

{% set page_title = "Login Failure" %}

{% block content %}
  <div class="govuk-grid-row" id="reset-container">
   <div class="govuk-grid-column-two-thirds">


    <h2 class="govuk-heading-l">There is a problem with your session</h2>

    <p>It might have timed out, or something went wrong when you tried to
    authenticate.</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>You may need to ensure you are in the 
    <a href="https://github.com/moj-analytical-services">MoJ Analytical Services</a>
    team on GitHub.</li>
        <li>You may have migrated to a newer version of the platform, so your
        account on this version is no longer available.</li>
        <li>If you think your session has simply timed out, please 
        {% if EKS %}
    <a href="https://alpha-analytics-moj.eu.auth0.com/v2/logout?returnTo=https%3A%2F%2Fcontrolpanel.services.analytical-platform.service.justice.gov.uk%2Foidc%2Flogout%2F">reset your session</a>,
        {% else %}
    <a href="https://{{ environment }}-analytics-moj.eu.auth0.com/v2/logout?returnTo=https%3A%2F%2Fcontrolpanel.services.{{ environment }}.mojanalytics.xyz%2Foidc%2Flogout%2F">reset your session</a>,
        {% endif %}
    and try again.</li>
    </ul>
    <p>Alternatively, please refer to our guide for
    <a href="https://user-guidance.services.alpha.mojanalytics.xyz/get-started.html">getting started on the Analytical Platform</a>
    for more information.</p>

    <p>Thank you.</p>
   </div>
  </div>
{% endblock %}
