{% from "includes/parameter-list.html" import parameter_list with context %}

{% extends "base.html" %}

{% set page_name = "parameters" %}
{% set page_title = "Your Airflow parameters" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <p class="govuk-body">
    Lists secrets that you have created in AWS Parameter Store for use with Airflow tasks. See our <a rel="external" href="https://user-guidance.analytical-platform.service.justice.gov.uk/parameters.html" target="_blank">User Guidance page about parameters</a> for further information</a>.
  </p>

  {% if request.user.has_perm('api.list_parameter') %}
  {{ parameter_list(parameters) }}

  {% if request.user.has_perm('api.create_parameter') %}
  <p class="govuk-body">
  <a class="govuk-button" href="{{ url('create-parameter') }}">
      Create new parameter
    </a>
  </p>
  {% endif %}
  {% endif %}
{% endblock %}
