{% from "fieldset/macro.html" import govukFieldset %}
{% from "user/macro.html" import user_name %}

{% extends "base.html" %}

{% set page_title = "Manage " + object.name + " group" %}
{% set legend -%}
  Add user to group {{ object.name }}
{%- endset %}

{% set page_name = "manage-policy" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">User</th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for user in policy.users.all() %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a class="{% if request.user == user %}highlight-current{% endif %}"
            href="{{ url('manage-user', kwargs={ "pk": user.auth0_id }) }}">
            {{ user_name(user) }}
          </a>
        </td>
        <td class="govuk-table__cell">
          <a href="{{ url('policy-remove-user', kwargs={ "pk":  policy.id, "user_id": user.auth0_id }) }}" class="govuk-button hmcts-button--secondary">Remove</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if form.error %}
    <div class="error">{{ form.error }}</div>
  {% endif %}

  <form action="" method="post">
    {{ csrf_input }}
    {% call govukFieldset({ "legend": { "html": legend|safe } }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="user_id">User</label>
        <select class="govuk-form-control no-blank autocomplete-select" id="user_id" name="user_id">
          <option value="">Select a user</option>
          {% for user in users_options %}
            <option value="{{ user.auth0_id }}">{{ user_name(user) }}</option>
          {% endfor %}
        </select>
      </div>

      <button class="govuk-button">Add</button>
    {% endcall %}
  </form>

  <form method="POST" action="{{ url("delete-policy", kwargs={ "pk": policy.id }) }}">
      {{ csrf_input }}
      <button class="govuk-button cpanel-button--destructive">Delete group</button>
  </form>
{% endblock %}
