{% extends "base.html" %}

{% set page_name = "groups" %}
{% set page_title = "Your groups" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if request.user.has_perm('api.list_policy') %}

  {%- set num_policies = policies|length %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Arn</th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {%- for policy in policies %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="{{ url("manage-policy", kwargs={ "pk": policy.id }) }}">{{ policy.name }}</a></td>
        <td class="govuk-table__cell">{{ policy.arn }}</td>
        <td class="govuk-table__cell">
          <a class="govuk-button govuk-button--secondary"
             href="{{ url('manage-policy', kwargs={ "pk": policy.pk }) }}">
            Manage group
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ num_policies }} managed group{% if num_apps != 1 %}s{% endif %}
        </td>
      </tr>
    </tfoot>
  </table>

  {% if request.user.has_perm('api.create_policy') %}
    <p class="govuk-body">
      <a class="govuk-button" href="{{ url('create-policy') }}">
        Create new group
      </a>
    </p>
  {% endif %}
  {% endif %}
{% endblock %}
