{% from "includes/policy-list.html" import policy_list with context %}

{% extends "base.html" %}

{% set page_name = "groups" %}
{% set page_title = "Your groups" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if request.user.has_perm('api.list_policy') %}
  {{ policy_list(policies) }}

  {% if request.user.has_perm('api.create_policy') %}
  <p class="govuk-body">
  <a class="govuk-button" href="{{ url('create-policy') }}">
      Create new group
    </a>
  </p>
  {% endif %}
  {% endif %}
{% endblock %}
