{% extends "base.html" %}


{% set page_name = "quicksight" %}
{% set page_title = "QuickSight" %}

{% block container_class_names %}govuk-grid-column-full white-bg{% endblock container_class_names %}

{% block content %}
    <div class="govuk-width-container">
        <nav class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="{{url("quicksight")}}">QuickSight</a>
                </li>
                <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="{{url("list-dashboards")}}">Share dashboards</a>
                </li>
            </ul>
        </nav>

        <h1 class="govuk-heading-xl">QuickSight</h1>
    </div>

    {% if embed_url %}
        <div id="experience-container"></div>
    {% else %}
    <div class="govuk-width-container">
        <h2 class="govuk-heading-m">Something went wrong, try refreshing the page</h2>
        <p class="govuk-body">If the problem persists, please contact the AP support team.</p>
    </div>
    {% endif %}
{% endblock content %}

{% block body_end %}
    <script src="{{ static("assets/js/quicksight-embedding-js-sdk.min.js") }}"></script>
    <script>
    (async function() {
        const { createEmbeddingContext } = QuickSightEmbedding;

        const embeddingContext = await createEmbeddingContext();

        await embeddingContext.embedConsole({
            url: "{{ embed_url|safe }}",
            container: '#experience-container',
            height: window.innerHeight * 0.85,
            width: "100%",
        });
    })();
    </script>
{% endblock body_end %}
