{% extends "base.html" %}
{% from "checkboxes/macro.html" import govukCheckboxes %}
{% from "error-message/macro.html" import govukErrorMessage %}
{% from "input/macro.html" import govukInput %}

{% set page_title = "Add/Update Secret" %}
{% set page_name = "webapps" %}

{% block content %}


<h3 class="govuk-heading-m">Add/Update Secret</h3>
<div class="govuk-form-group">
  <label class="govuk-label" for="secret_key">Select secret key you want to set.</label>
  {% for key, _ in forms.items() %}
    <div class="govuk-form-group">
      <a href="{{ url('add-secret', kwargs={"pk": pk, "secret_key": key }) }}"  class="govuk-button" >{{ key }}</a>
      {% if key in set_secrets %}
        <form action="{{ url('delete-secret', kwargs={"pk": pk, "secret_key": key }) }}" method="post" >
          {{ csrf_input }}
          <button class="govuk-button cpanel-button--destructive js-confirm"
            data-confirm-message="Are you sure you want to delete this secret?">
            Delete
          </button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
