{% extends "base.html" %}
{% from "checkboxes/macro.html" import govukCheckboxes %}
{% from "error-message/macro.html" import govukErrorMessage %}

{% set page_title = "Add/Update Secret" %}
{% set page_name = "webapps" %}

{% block content %}


<h1 class="govuk-heading-xl">Add/Update Secret</h1>
<div class="govuk-form-group">
    <label class="govuk-label" for="secret_key">Select secret key you want to set.</label>
    <select class="govuk-input  cpanel-input--1-3 govuk-form-control no-blank" id="secret_key" name="secret_key">
      <option value="">select secret key</option>
      {% for allowed in allowed_key_select %}
      <option value="{{ allowed.key }}">{{ allowed.value }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <h3 id="selected_key" ></h3>
  </div>
  

{% for key, form in forms.items() %}
  {% if form.errors %}
    {{ govukErrorMessage({"text": form.errors}) }}
  {% endif %}
<section class="cpanel-section form-section hide-forms" >
  <form action="" method="post">
    {{ csrf_input }}

    {% for field in form %}
      {% if field not in form.hidden_fields()  %}
      <div class="govuk-form-group " >
        <label class="govuk-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% else %}
        {{ field }}
      {% endif %}
        
    {% endfor %}

    <div class="govuk-form-group">
        <input type="hidden" value="{{ pk }}" name="webapp_pk" />
    </div>

    <div class="govuk-form-group">
      <button class="govuk-button">Set Secret</button>
    </div>

  </form>
</section>

{% endfor %}

{% endblock %}
