{% extends "base.html" %}
{% from "checkboxes/macro.html" import govukCheckboxes %}
{% from "error-message/macro.html" import govukErrorMessage %}
{% from "input/macro.html" import govukInput %}

{% set page_title = "Add/Update Secret" %}
{% set page_name = "webapps" %}

{% block content %}


  <h3 class="govuk-heading-m">Add/Update Secret for {{ secret_key }}</h3>

  <section class="cpanel-section form-section" >
    <div>
      {% if form.errors %}
        {{ govukErrorMessage({"text": form.errors}) }}
      {% endif %}
    </div>
  <form action="" method="post">
    {{ csrf_input }}
    {% for field in form %}
      {% if field not in form.hidden_fields()  %}

        {% if field.field.__class__.__name__ == 'BooleanField' %}
          {{ govukCheckboxes({
            "fieldset": {
              "legend": {
                "text": field.label,
                "classes": "govuk-fieldset__legend--m",
              },
            },
            "errorMessage": {"html": field.errors|join(". ")} if field.errors else {},
            "classes": "govuk-checkboxes--error",
            "name": field.name,
            "items": [
              {
                "value": 1,
                "text": field.help_text,
                "checked": field.value(),
              },
            ],
          }) }}

        {% else %}

        {{ govukInput({
          "label": {
            "text": field.label|capitalize,
            "classes": "govuk-label--m",
          },
          "classes": "govuk-!-width-two-thirds",
          "hint": {
            "text": field.help_text | default('You can only create or update value and cannot see previous value unless value allows.')
          },
          "name": field.name,
          "type": "password",
          "attributes": {
            "maxlength": "60",
          },
          "errorMessage": { "html": field.errors|join(". ") } if field.errors else {}
        }) }}
      {% endif %}

      {% else %}
        <!-- hidden fields -->
        {{field}}
      {% endif %}

    <div class="govuk-form-group">
      <button class="govuk-button">Set Secret</button>
    </div>

  </form>
</section>

{% endfor %}

{% endblock %}
