{% from "radios/macro.html" import govukRadios %}
{% from "user/macro.html" import user_name %}
{% from "includes/data-access-level-options.html" import data_access_level_options with context %}
{% from "includes/datasource-access-form.html" import data_access_paths_textarea %}

{% extends "base.html" %}

{% set page_title = "Grant user access to table" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<section class="cpanel-section">
  <form action="{{ grant_url }}" method="post">
    {{ csrf_input }}
    <div class="govuk-form-group{% if form.entity_id.errors %} govuk-form-group--error{% endif %}">
      <label class="govuk-label" for="entity_id">Grant access to this data to other users</label>
      <select class="govuk-form-control no-blank autocomplete-select" id="entity_id" name="entity_id">
        <option value="">Select a user</option>
        {% for entity in entity_options %}
            <option value="{{ entity.auth0_id }}">{{ user_name(entity) }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group panel panel-border-narrow js-hidden" id="data-access-level-panel">
      {{ data_access_level_options() }}
    </div>

    <div class="govuk-form-group">
      <button class="govuk-button">Grant access</button>
    </div>

  </form>
</section>
{% endblock %}
