{% extends "base.html" %}

{% set page_title = "Your tools" %}
{% set page_name = "tools" %}

{% block content %}

<h1 class="govuk-heading-xl">Your tools</h1>

<p class="govuk-body">The status of your tools will update automatically.</p>

{% for chart_name, tool_info in tools_info.items() %}
{% set deployment = tool_info["deployment"] %}
<h2 class="govuk-heading-m">{{ tool_info.name }}</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{ url('deploy-tool', kwargs={"name": chart_name}) }}"
        data-action-name="deploy"
        class="tool-action"
        id="form-{{ chart_name }}"
        method="post">
        {{ csrf_input }}
      <div class="govuk-form-group">
          <label class="govuk-label" for="tools">
            Version
          </label>
          <select class="govuk-select govuk-!-width-full govuk-!-font-size-16"
            data-action-target="{{ chart_name }}"
            id="tools-{{ chart_name }}" name="version">
            {% set installed_chart_version = None %}
            {% if deployment %}
              {% set installed_chart_version = deployment.get_installed_chart_version(id_token) %}
              <option class="installed" value="{{ installed_chart_version }}">
              [Build {{ installed_chart_version }}]  {{ deployment.get_installed_app_version(id_token) or "Unknown" }} (installed)
              </option>
            {% else %}
              <option class="not-installed">Not deployed - select a tool from this list and click "Deploy" to start</option>
            {% endif %}
            {% for chart_version, app_version in tool_info["versions"].items(): %}
              {% if chart_version != installed_chart_version: %}
                <option value="{{ chart_version }}">
                  [Build {{ chart_version }}]  {{ app_version or "Unknown" }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
  <p class="govuk-!-margin-bottom-1">Status:
  <span class="govuk-!-font-weight-bold">
    {% if deployment %}
      {{ deployment.get_status(id_token) | default("") }}
    {% else %}
    Not deployed
    {% endif %}
  </span>
  </p>

  <form style="display: inline;">
    <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-top-0 js-confirm"
        data-action-name="deploy"
        data-form-target="form-{{ chart_name }}"
        id="deploy-{{ chart_name }}"
        data-confirm-message="Do you wish to install this version of {{ tool_info['name'] }}?"
        disabled>
      Deploy
    </button>
  </form>

  <a class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-top-0"
    data-action-name="open"
    href="{{ tool_info['url'] }}"
    rel="noopener"
    target="_blank"
    {% if not deployment %} disabled {% endif %}>
      Open
  </a>

  <form action="{{ url('restart-tool', kwargs={'name': chart_name}) }}"
    data-action-name="restart"
    method="post"
    style="display: inline;">
    {{ csrf_input }}
    <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-top-0"
      data-action-name="restart"
      {% if not deployment %} disabled {% endif %}>
        Restart
    </button>
  </form>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
{% endfor %}

<p class="govuk-body">
  {% if env == "alpha" %}
    You can <a href="https://grafana.services.{{ env }}.mojanalytics.xyz/d/platformusers/platform-users?refresh=10s&orgId=1&var-Username={{ request.user.username }}" target="_blank" rel="noopener">view your resource utilisation on Grafana (opens in new tab)</a>.
  {% else %}
    <em>(Grafana not available in {{ env }} environment)</em>
  {% endif %}
</p>
{% endblock %}
