{% from "user/macro.html" import user_name %}

{% extends "base.html" %}

{% set page_title = "Users" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><a href="?o=username">User</a></th>
      <th class="govuk-table__header"><a href="?o=email">Email</a></th>
      <th class="govuk-table__header"><a href="?o=last_login">Last login</a></th>
      <th class="govuk-table__header">
        <span class="govuk-visually-hidden">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for user in users %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="{% if request.user.auth0_id == user.auth0_id %}highlight-current{% endif %}"
           href="{{ url('manage-user', kwargs={ "pk": user.auth0_id }) }}">
          {{ user_name(user) }}
        </a>
      </td>
      <td class="govuk-table__cell">{{ user.email }}</td>
      <td class="govuk-table__cell">
          {%- if user.last_login -%}
              <span data-last-login="{{user.last_login}}"
                    title="{{user.last_login.strftime("%Y/%m/%d %H:%M:%S")}}">
                {{ timesince(user.last_login) }} ago
              </span>
          {%- else -%}
              <span>Never logged in.</span>
          {%- endif -%}
          {%- if user in unused_users -%}
              (<strong><a href="https://github.com/orgs/moj-analytical-services/people/{{ user.username }}" target="_blank">unused?</a></strong>)
          {%- endif -%}
      </td>
      <td class="govuk-table__cell">
        <a href="{{ url('manage-user', kwargs={ "pk": user.auth0_id }) }}"
           class="govuk-button govuk-button--secondary">
          Manage user
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot class="govuk-table__foot">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="4">
        {{ users|length }} user{% if users|length != 1 %}s{% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}
