{% from "checkboxes/macro.html" import govukCheckboxes %}
{% from "fieldset/macro.html" import govukFieldset %}
{% from "user/macro.html" import user_name %}
{% from "includes/app-list.html" import app_list with context %}
{% from "includes/datasource-list.html" import datasource_list with context %}

{% extends "base.html" %}

{% set page_title = user_name(user) %}
{% set pronoun = "Your" if user == request.user else "User's" %}

{% block content %}
<span class="govuk-caption-xl">User</span>
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

{% if unused %}
<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">

    <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

      <h2 class="govuk-heading-m govuk-error-summary-heading">
      This Account Could be Unused
      </h2>

      <p>
        <strong>The user of this account has not logged in for over 90 days.</strong>
      </p>

      <p>If appropriate, please <a href="https://github.com/orgs/moj-analytical-services/people/{{ user.username }}" target="_blank">visit the GitHub page for their membership of the
      Ministry of Justice organisation</a> to free up space.</p>
    </div>
</div>
{% endif %}

{% if request.user.has_perm('api.add_superuser') %}
<section class="cpanel-section">
  <form action="{{ url('set-superadmin', kwargs={ "pk": user.auth0_id }) }}" method="post">
    {{ csrf_input }}
    {{ govukCheckboxes({
      "name": "is_superuser",
      "fieldset": {
        "legend": {
          "text": "Super Admin",
          "classes": "govuk-fieldset__legend--m",
        },
      },
      "hint": {
        "text": "User is a super admin, allowing all privileges on the Control panel."
      },
      "items": [
        {
          "value": "True",
          "text": "Super Admin",
          "checked": user.is_superuser
        },
      ]
    }) }}
    <button class="govuk-button govuk-button--secondary">
      Save changes
    </button>
  </form>
</section>
{% endif %}

{% if request.user.has_perm('api.reset_mfa') %}
<section class="cpanel-section">
  <form action="{{ url('reset-mfa', kwargs={ "pk": user.auth0_id }) }}" method="post">
    {{ csrf_input }}
    {% call govukFieldset({
      "legend": {
        "text": "Reset MFA",
        "classes": "govuk-fieldset__legend--m",
      },
      "describedBy": "reset-hint"
    }) %}
      <span id="reset-hint" class="govuk-hint">
        Reset the user's multi-factor authentication settings, forcing them to
        reconfigure.
      </span>
      <button class="govuk-button govuk-button--secondary">Reset MFA</button>
    {%- endcall %}
  </form>
</section>
{% endif %}

<section class="cpanel-section">
  <h2 class="govuk-heading-m">{{ pronoun }} apps</h2>
  {{ app_list(user.userapps.all()|map(attribute="app")|list, user) }}
</section>

{# user's datasources #}
<section class="cpanel-section">
  <h2 class="govuk-heading-m">{{ pronoun }} webapp data sources</h2>
  {{ datasource_list(user.users3buckets.filter(s3bucket__is_data_warehouse=False)|map(attribute="s3bucket")|list, "webapp", user) }}
</section>

{% if request.user.has_perm('api.destroy_user', user) %}
<section class="cpanel-section">
  <form action="{{ url("delete-user", kwargs={ "pk": user.auth0_id }) }}" method="post">
    {{ csrf_input }}
    <button class="govuk-button cpanel-button--destructive confirm"
            data-confirmation-prompt="Are you sure you want to delete this user?">
      Delete user
    </button>
  </form>
</section>
{% endif %}

{% endblock %}
