{% extends "base.html" %}
{% from "checkboxes/macro.html" import govukCheckboxes %}
{% from "error-message/macro.html" import govukErrorMessage %}

{% set page_title = "Update IP Allowlists" %}
{% set page_name = "update-app-ip-allowlists" %}

{% block content %}

<section class="cpanel-section form-section">
    <div>
        {% if form.errors %}
        {{ govukErrorMessage({"text": form.errors}) }}
        {% endif %}
    </div>

    {% if app_migration_feature_enabled %}

    <form action="{{ url('update-app-ip-allowlists', kwargs={'pk': app.pk}) }}" method="post">
        {{ csrf_input }}
        <input type="hidden" name="env_name" value="{{ env_name }}">
        {{ govukCheckboxes({
            "fieldset": {
                "legend": {
                    "text": "IP allowlists for " + app.name + " - [" + env_name + "]",
                    "classes": "govuk-fieldset__legend--m",
                },
            },
            "classes": "govuk-!-width-two-thirds",
            "hint": {
                "text": "Customers will only be able to access this app from the IP networks in the allowlists selected below. If no allowlists are selected, the app will be accessible from any IP address."
            },
            "name": "ip_allowlists",
            "items": app_ip_allowlists,
          })
        }}

        <button class="govuk-button">Update IP allowlists</button>

    </form>

    <p>
        If you would like to restrict access to your app to IP networks not covered by the allowlists given above,
        contact the Analytical Platform team via our <a href="https://asdslack.slack.com/archives/C4PF7QAJZ">support Slack channel</a>.
    </p>

    {% else %}

    <h2 class="govuk-heading-m">IP allowlists for {{app.name}}</h2>
    <p>This feature is not yet available for general use.</p>

    {% endif %}

</section>

{% endblock %}
