{% from "includes/app-list.html" import app_list with context %}

{% extends "base.html" %}

{% set page_name = "webapps" %}
{% set page_title = "All webapps" if all_webapps else "Your webapps" %}

{% block content %}
{% set num_apps = apps|length %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if request.user.has_perm('api.list_app') %}
  {{ app_list(apps, request.user) }}

    {% if request.user.has_perm('api.create_app') %}
    <p class="govuk-body">
      <a class="govuk-button" href="{{ url('create-app') }}">
        Register an app
      </a>
    </p>
    {% else %}
    <p class="govuk-body">
      Please raise a <a href="https://github.com/ministryofjustice/data-platform-support/issues/new?template=analytical-platform-register-app.yml" target="_blank" class="govuk-link">support request in GitHub</a> if you need to register an app.  You can find all information regarding web apps in the <a href="https://user-guidance.analytical-platform.service.justice.gov.uk/apps/rshiny-app.html" target="_blank" class="govuk-link">Analytical Platform User Guidance</a>.
    </p>
    {% endif %}
  {% endif %}
{% endblock %}
