{% from "includes/app-list.html" import app_list with context %}

{% extends "base.html" %}

{% set page_name = "webapps" %}
{% set page_title = "All webapps" if all_webapps else "Your webapps" %}

{% block content %}
{% set num_apps = apps|length %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if request.user.has_perm('api.list_app') %}
  {{ app_list(apps, request.user) }}

    {% if request.user.has_perm('api.create_app') %}
    <p class="govuk-body">
      <a class="govuk-button" href="{{ url('create-app') }}">
        Register an app
      </a>
    </p>
    {% endif %}
  {% endif %}
{% endblock %}
