{% extends "base.html" %}
{% from "autocomplete/macro.html" import autocomplete %}
{% from "error-message/macro.html" import govukErrorMessage %}
{% from "label/macro.html" import govukLabel %}
{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "tag/macro.html" import tag %}
{% from "selectable-rows/macro.html" import row_selector %}
{% from "user/macro.html" import user_name %}
{% from "includes/yesno.html" import yes_no %}
{% from "includes/app-deployment-settings.html" import app_deployment_settings %}

{% set page_name = "webapps" %}
{% set page_title = app.name %}
{% set app_domain = settings.APP_DOMAIN %}
{% set app_old_url = "https://" + app.slug + "/" + settings.APP_DOMAIN_BEFORE_MIGRATION %}
{% set feature_enabled = settings.features.app_migration.enabled %}

{% set app_admins_html %}
{% include "modals/app_admins.html" %}
{% endset %}

{% set app_access_levels_html %}
{% include "modals/app_data_access_levels.html" %}
{% endset %}

{% block content %}

<header>
  {% if feature_enabled %}
  <div class="govuk-width-container">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        More information and user guidance for the webapp deployment pipeline and related settings will be provided soon. If you have questions about the app migration process, please contact us on the <a href=https://mojdt.slack.com/archives/C0504KY0Z2N>#data-platform-application-migration-support</a> Slack channel.
      </strong>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
  <br/>
  {% endif %}

  <span class="govuk-caption-xl">Webapp</span>
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if feature_enabled %}
      <h2 class="govuk-heading-m">Migration status:</h2>
      {% if app_migration_status == "in_progress" %}
        <p class="govuk-body" ><b>This app is currently being migrated. It has been deployed onto Cloud Platform for testing, and the original version is still available on the Alpha cluster.</b></p>
        <ul class="govuk-body">
          <li>Old repository: <a href="{{ app_migration_info["repo_url"] }}">{{ app_migration_info["repo_url"] }}</a></li>
          <li>Old app name: <strong>{{ app_migration_info["app_name"] }}</strong></li>
          <li>Old app URL: <a href="{{ app_migration_info["app_url"] }}">{{ app_migration_info["app_url"] }}</a></li>
        </ul>
        <p class="govuk-body" >
          <b style="color:red">The above information about old app will be removed once the migration process is completed.</b>
        </p>
      {% elif app_migration_status == "done" %}
        <p class="govuk-body">
          <b style="color:red">The migration for this app has been completed</b>
        </p>
      {% else %}
        <p class="govuk-body">
          <b style="color:red">The migration process for this app has not been started yet!</b>
        </p>
      {% endif %}
  {% else %}
    {% if app.description %}
      <p class="govuk-body">
        {{ app.description }}
      </p>
    {% endif %}
  {% endif %}

  {% if feature_enabled and repo_access_error_msg %}
  <div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">

      <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="govuk-heading-m govuk-error-summary-heading">
        Webapp repo setting
        </h2>
        <p>
          <strong>Couldn't find/read the app's information from github repo based on the repo url, please
            check whether the repo_url exists or whether you have enough permission to access this repo
          </strong>
        </p>
        <p>Raw error message: {{ repo_access_error_msg }}</p>
      </div>
    </div>
  </div>
  {% endif %}

  {% if not app_migration_info and app_old_url %}
  <h2 class="govuk-heading-m">Deployed URL</h2>
    <p> If the app was successfully built on the alpha (original) cluster, it can be accessed here:</p>
    <p class="govuk-body">
      <a href="{{ app_old_url }}">{{ app_old_url }}</a>
    </p>
  {% endif %}

  <h2 class="govuk-heading-m">Source Code Repository</h2>
  <p class="govuk-body">
    {% if app.repo_url %}
      <a href="{{ app.repo_url }}">{{ app.repo_url }}</a>
    {% else %}
      None
    {% endif %}
  </p>

  {% if feature_enabled %}

    <h2 class="govuk-heading-m">App logs</h2>
    <p class="govuk-body">
      <a href="{{ settings.KIBANA_BASE_URL }}">{{ settings.KIBANA_BASE_URL }}</a>
    </p>

    <h2 class="govuk-heading-m">App resources usage dashboard</h2>
    <p class="govuk-body">
      <a href="{{ settings.GRAFANA_BASE_URL }}">{{ settings.GRAFANA_BASE_URL }}</a>
    </p>

    <h2 class="govuk-heading-m">Deployment Pipeline</h2>
    <p class="govuk-body"> Github workflows on app's repo are used for deploying the app.</p>
    <p class="govuk-body"><strong>You are required to be member of admin team for this app repo in order to be able to maintain the deployments settings</strong></p>
  {% endif %}

</header>

<section class="cpanel-section track_task app-auth-settings-panel">
  {% if feature_enabled %}
    {% if github_settings_access_error_msg %}
      <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <p style="color:red">Couldn't load the github settings</p>
        <p style="color:red">Raw error message: {{ github_settings_access_error_msg }}</p>
      </div>
    {% endif %}

    {% for env_name, deployment_setting in deployments_settings.items() %}
    <h2 class="govuk-heading-m" >Deployment settings under {{ env_name }}</h2>
      {% if deployment_setting.get('is_redundant') and request.user.has_perm('api.update_app', app) %}
        <section class="cpanel-section">
          <p style="color:red">It appears this deployment environment is redundant and can be removed</p>
          <form action="{{ url('remove-app-deployment-env', kwargs={'pk': app.id, 'env_name': env_name}) }}" method="post">
            {{ csrf_input }}
            <button class="govuk-button cpanel-button--destructive js-confirm"
                    data-confirm-message="Are you sure you want to remove this deployment environment?">
              Remove redundant deployment environment
            </button>
          </form>
        </section>
      {% else %}
        {{ app_deployment_settings(app, env_name, app_domain, deployment_setting, request, csrf_input) }}
      {% endif %}
    {% endfor %}
  {% endif %}

</section>

<section class="cpanel-section">
  <h2 class="govuk-heading-m">
    App admins
    {{ modal_dialog(app_admins_html|safe) }}
  </h2>

  <table class="govuk-table app-admins form-group">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">User</th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% set app_admins = app.admins %}
    {% for user in app_admins %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
        {% if user.auth0_id %}
          <a class="{% if request.user.auth0_id == user.auth0_id %}highlight-current{% endif %}"
              href="{{ url('manage-user', kwargs={ 'pk': user.auth0_id }) }}">
            {{ user_name(user) }}
          </a>
        {% else %}
          {{ user_name(user) }}
        {% endif %}
        </td>
        {% if request.user.has_perm('api.revoke_app_admin', app) %}
        <td class="govuk-table__cell align-right">
          {% if user.id %}
            <form action="{{ url('revoke-app-admin', kwargs={ "pk": app.id, "user_id": user.id }) }}" method="post">
              {{ csrf_input }}
              <button class="js-confirm govuk-button govuk-button--secondary right">
              Revoke admin
              </button>
            </form>
          {% endif %}
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ app_admins|length }} app admin{% if app_admins|length != 1 %}s{% endif %}
        </td>
      </tr>
    </tfoot>
  </table>

{% if request.user.has_perm('api.add_app_admin', app) %}
  {% if admin_options|length %}
  <form action="{{ url('add-app-admin', kwargs={ 'pk': app.id }) }}" method="post" class="govuk-form-group">
    {{ csrf_input }}

    {% call(user) autocomplete({
      "name": "user_id",
      "label": "Give a user admin rights to this app",
      "placeholder": "Start typing to find a user...",
      "items": admin_options,
    }) %}
      <option value="{{ user.auth0_id }}">{{ user_name(user) }}</option>
    {% endcall %}

    <div class="govuk-form-group">
      <button class="govuk-button">Grant access</button>
    </div>
  </form>
  {% else %}
  <p class="govuk-body">
    (All available users are already admins of this app.)
  </p>
  {% endif %}
{% endif %}
</section>

<section class="cpanel-section">
  <h2 class="govuk-heading-m">App data sources</h2>

  <table class="govuk-table app-data-sources form-group">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">
          Access level
          {{ modal_dialog(app_access_levels_html|safe) }}
        </th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% set buckets = app.apps3buckets.all() %}
      {% set num_buckets = buckets|length %}
      {% for bucket in buckets %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="{{ url('manage-datasource', kwargs={ "pk": bucket.s3bucket.id }) }}">{{ bucket.s3bucket.name }}</a>
        </td>
        <td class="govuk-table__cell">
          {{ yes_no(bucket.access_level, 'readwrite', "Read/write", "Read only") }}
        </td>
        <td class="govuk-table__cell align-right">
          {% if request.user.has_perm('api.update_apps3bucket', bucket) %}
          <form action="{{ url('update-app-access', kwargs={ "pk": bucket.id }) }}" method="post" class="form-control-prefix">
            {{ csrf_input }}
            <input type="hidden" name="access_level" value="{{ yes_no(bucket.access_level, 'readwrite', 'readonly', 'readwrite') }}">
            <button class="js-confirm govuk-button govuk-button--secondary">
              Set {{ yes_no(bucket.access_level, 'readwrite', 'read only', 'read/write') }}
            </button>
          </form>
          {% if request.user.has_perm('api.remove_app_bucket', app) %}
          <form action="{{ url('revoke-app-access', kwargs={ "pk": bucket.id }) }}" method="post" class="form-control-prefix">
            {{ csrf_input }}
            <button class="js-confirm govuk-button govuk-button--secondary">
              Disconnect
            </button>
          </form>
        {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ num_buckets }} app data source{% if buckets != 1 %}s{% endif %}
        </td>
      </tr>
    </tfoot>
  </table>

{% if request.user.has_perm('api.add_app_bucket', app) %}
  {% set num_bucket_options = grant_access_form.datasource|length - 1 %}
  {% if num_bucket_options %}
    <form action="{{ url('grant-app-access', kwargs={ "pk": app.id }) }}" method="post">
    {{ csrf_input }}
    <input type="hidden" name="access_level" value="readonly">
    <div class="govuk-form-group">
      {{ govukLabel({"text": "Connect an app data source"}) }}
      {% if grant_access_form.datasource.errors -%}
      {{ govukErrorMessage({"text": grant_access_form.datasource.errors|join(". ")}) }}
      {%- endif %}
      {{ grant_access_form.datasource }}
    </div>
    <div class="govuk-form-group">
      <button class="govuk-button govuk-button--secondary">
        Grant access
      </button>
    </div>
  </form>
  {% else %}
  <p class="govuk-body">
    (All available data sources are already connected to this app.)
  </p>
  {% endif %}
{% endif %}
</section>

{% if request.user.has_perm('api.destroy_app', app) %}
<section class="cpanel-section">
  <form action="{{ url('delete-app', kwargs={ "pk": app.id }) }}" method="post">
    {{ csrf_input }}
    <button class="govuk-button cpanel-button--destructive js-confirm"
            data-confirm-message="Are you sure you want to delete this app?">
      Delete app
    </button>
  </form>
</section>
{% endif %}

{% endblock %}
