{% from "error-message/macro.html" import govukErrorMessage %}
{% from "input/macro.html" import govukInput %}
{% from "label/macro.html" import govukLabel %}
{% from "radios/macro.html" import govukRadios %}
{% from "checkboxes/macro.html" import govukCheckboxes %}
{% from "includes/auth0-connections-form.html" import auth0_connections_form with context %}


{% extends "base.html" %}

{% set page_title = "Register an app" %}

{% set new_datasource_html %}
  Create a new webapp data source
  <div class="radio-subform" data-show-if-selected="connect_bucket-1">
  {{ govukInput({
    "name": "new_datasource_name",
    "classes": "govuk-!-width-one-half",
    "label": {
      "text": "Webapp data source name",
    },
    "hint": {
      "text": '60 chars max, only lowercase letters, numbers, periods and hyphens, auto-prefixed with "' + env + '"'
    },
    "errorMessage": {"text": form.new_datasource_name.errors|join(". ")} if form.new_datasource_name.errors else {},
    "value": form.new_datasource_name.value(),
    "attributes": {
      "data-bucket-prefix": env + "-",
      "pattern": "[a-z0-9.-]{1,60}",
      "maxlength": "60",
    }
  }) }}
  </div>
{% endset %}

{% set existing_datasource_html %}
  Connect an existing webapp data source
  <div class="radio-subform" data-show-if-selected="connect_bucket-2">
    <div class="govuk-form-group
                {%- if form.existing_datasource_id.errors %} govuk-form-group--error{% endif %}">
      {{ govukLabel({"text": "Select webapp data source"}) }}
      {% if form.existing_datasource_id.errors -%}
      {{ govukErrorMessage({"text": form.existing_datasource_id.errors|join(". ")}) }}
      {%- endif %}
      {{ form.existing_datasource_id }}
    </div>
  </div>
{% endset %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>
<p class="govuk-body">
  After <a
    href="{{ user_guidance_base_url }}/rshiny-app.html">creating
    an app in Github</a>, use this form to register your app and connect it to
  sensitive data in S3.
</p>

<form method="post" id="register_app" action="{{ url("create-app") }}">
  {{ csrf_input }}

  <div class="govuk-form-group" id="container-element">

    <label class="govuk-label govuk-label--m" for="display_result_repo">Github repository URL
    </label>

    {% set error_repo_msg = form.errors.get("repo_url") %}
    {% if error_repo_msg %}
      {% set errorId = 'repo-url-error' %}
      {{ govukErrorMessage({
        "id": errorId,
        "html": error_repo_msg|join(". "),
      }) }}
    {% endif %}

    <input type="text" class="govuk-input" id="display_result_repo" name="repo_url" {% if form.repo_url.value() %} value="{{ form.repo_url.value() }}" {% endif %} required />

  </div>
  <div class="govuk-form-group" id="container-element">

    <label class="govuk-label govuk-label--m" for="display_result_repo">Cloud Platform namespace
    </label>

    {% set error_repo_msg = form.errors.get("namespace") %}
    {% if error_repo_msg %}
      {% set errorId = 'namespace-error' %}
      {{ govukErrorMessage({
        "id": errorId,
        "html": error_repo_msg|join(". "),
      }) }}
    {% endif %}
    <span class="govuk-hint">Enter namespace with the -env suffix removed</span>
    <input type="text" class="govuk-input" id="id_namespace" name="namespace" {% if form.namespace.value() %} value="{{ form.namespace.value() }}" {% endif %} required />

  </div>


  {{ govukRadios({
    "name": "connect_bucket",
    "fieldset": {
      "legend": {
        "text": "Connect a secure webapp data source",
        "classes": "govuk-fieldset__legend--m",
      },
    },
    "hint": {
      "text": "Connect an existing app data source to your app, or create a new one. If you don't need to connect to an S3 bucket, select 'Do this later'",
    },
    "items": [
      {
        "value": "new",
        "html": new_datasource_html|safe,
        "checked": form.connect_bucket.value() == "new"
      },
      {
        "value": "existing",
        "html": existing_datasource_html|safe,
        "hint": {
          "text": "Only buckets that you have admin access to are displayed",
        },
        "checked": form.connect_bucket.value() == "existing"
      },
      {
        "value": "later",
        "text": "Do this later",
        "checked": form.connect_bucket.value() == "later"
      },
    ]
  }) }}

  {% if show_cloud_platform_assume_role %}
  {{ govukCheckboxes({
    "name": "allow_cloud_platform_assume_role",
    "fieldset": {
      "legend": {
        "text": "Access via Cloud Platform",
        "classes": "govuk-fieldset__legend--m",
      },
    },
    "hint": {
      "text": "Allows Cloud Platform role to assume role in the Analytical Platform"
    },
    "items": [
      {
        "value": "True",
        "text": "Access via Cloud Platform",
        "checked": form.allow_cloud_platform_assume_role.value() == True
      }
    ]
  }) }}

  <div class="govuk-grid-row checkbox-subform" data-show-if-selected="True">
    <div class="govuk-grid-column-full">
      <br/>
      {{ govukInput({
        "name": "cloud_platform_role_arn",
        "classes": "govuk-!-width-one-half",
        "label": {
          "text": "Cloud Platform Role ARN",
          "classes": "govuk-label--s",
        },
        "errorMessage": {"text": form.errors.get("cloud_platform_role_arn")} if form.errors.get("cloud_platform_role_arn") else {},
        "value": form.cloud_platform_role_arn.value()
      }) }}
    </div>
  </div>
  {% endif %}

  <div class="govuk-form-group">
    <button class="govuk-button">Register app</button>
  </div>
</form>
{% endblock %}
