{% extends "base.html" %}
{% from "autocomplete/macro.html" import autocomplete %}
{% from "error-message/macro.html" import govukErrorMessage %}
{% from "label/macro.html" import govukLabel %}
{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "tag/macro.html" import tag %}
{% from "selectable-rows/macro.html" import row_selector %}
{% from "user/macro.html" import user_name %}
{% from "app-logs/macro.html" import app_logs with context %}
{% from "includes/yesno.html" import yes_no %}

{% set page_name = "webapps" %}
{% set page_title = app.name %}

{% set app_customers_html %}
{% include "modals/app_customers.html" %}
{% endset %}

{% set app_admins_html %}
{% include "modals/app_admins.html" %}
{% endset %}

{% set app_access_levels_html %}
{% include "modals/app_data_access_levels.html" %}
{% endset %}

{% block content %}
<header>
  <span class="govuk-caption-xl">Webapp</span>
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% if app.description %}
  <p class="govuk-body">
    {{ app.description }}
  </p>
  {% endif %}

  {% if app_url %}
  <h2 class="govuk-heading-m">Deployed URL</h2>
      {% if EKS %}
      <p>For the foreseeable future, apps will remain hosted on the old
      infrastructure. If the app is successfully built, it will be deployed
      here:</p>
      {% endif %}
  <p class="govuk-body">
      <a href="{{ app_url }}">{{ app_url }}</a>
  </p>
  {% endif %}

  <h2 class="govuk-heading-m">Source Code Repository</h2>
  <p class="govuk-body">
    {% if app.repo_url %}
      <a href="{{ app.repo_url }}">{{ app.repo_url }}</a>
    {% else %}
      None
    {% endif %}
  </p>

  <h2 class="govuk-heading-m">Deployment Pipeline</h2>
  <p class="govuk-body">
    <a href="https://concourse.services.{{env}}.mojanalytics.xyz/teams/main/pipelines/{{ app.name }}">
    https://concourse.services.{{env}}.mojanalytics.xyz/teams/main/pipelines/{{ app.name }}
    </a>
  </p>
</header>

<section class="cpanel-section">
  {% set customers = app.customers %}
  {% set num_customers = customers|length %}

  <h2 class="govuk-heading-m">
    App customers
    {{ modal_dialog(app_customers_html|safe) }}
  </h2>
  <form method="post" action="{{ url("remove-app-customer", kwargs={"pk": app.id}) }}">
    {{ csrf_input }}
    <button class="govuk-button govuk-button--secondary right selectable-rows__enable-on-selections"
            type="submit"
            name="submit"
            disabled="disabled"
            value="submit">
      Remove all selected customers
    </button>
    <table class="govuk-table selectable-rows">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"></th>
          <th class="govuk-table__header">Customer email</th>
          <th class="govuk-table__header">
            <span class="govuk-visually-hidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for customer in customers %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ row_selector('customer', customer.user_id) }}</td>
          <td class="govuk-table__cell">{{ customer.email }}</td>
          {% if request.user.has_perm('api.remove_app_customer', app) %}
          <td class="govuk-table__cell">
            <button class="govuk-button govuk-button--secondary right"
                    name="customer"
                    value="{{ customer.user_id }}">
              Remove customer
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="govuk-table__foot">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="3">
            {{ num_customers }} app customer{% if num_customers != 1 %}s{% endif %}
          </td>
        </tr>
      </tfoot>
    </table>
  </form>

  {% if request.user.has_perm('api.add_app_customer', app) %}
  <form action="{{ url('add-app-customers', kwargs={ "pk": app.id }) }}" method="post">
    {{ csrf_input }}
    <div class="govuk-form-group {% if errors and errors.customer_email %}govuk-form-group--error{% endif %}">
      <label class="govuk-label" for="customer_email">
        Add app customers by entering their email addresses (separated by spaces)
      </label>
      {% if errors and errors.customer_email %}
        {% for error in errors.customer_email %}
      <span id="customer_email-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ error }}
      </span>
        {% endfor %}
      {% endif %}
      <input id="customer_email" class="govuk-input cpanel-input--1-3" name="customer_email" autocomplete="off">
    </div>
    <div class="govuk-form-group">
      <button class="govuk-button">Add customer</button>
    </div>
  </form>
  {% endif %}
</section>

<section class="cpanel-section">
  <h2 class="govuk-heading-m">
    App admins
    {{ modal_dialog(app_admins_html|safe) }}
  </h2>

  <table class="govuk-table app-admins form-group">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">User</th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% set app_admins = app.admins %}
    {% for user in app_admins %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
        {% if user.auth0_id %}
          <a class="{% if request.user.auth0_id == user.auth0_id %}highlight-current{% endif %}"
              href="{{ url('manage-user', kwargs={ "pk": user.auth0_id }) }}">
            {{ user_name(user) }}
          </a>
        {% else %}
          {{ user_name(user) }}
        {% endif %}
        </td>
        {% if request.user.has_perm('api.revoke_app_admin', app) %}
        <td class="govuk-table__cell align-right">
          {% if user.id %}
            <form action="{{ url('revoke-app-admin', kwargs={ "pk": app.id, "user_id": user.id }) }}" method="post">
              {{ csrf_input }}
              <button class="js-confirm govuk-button govuk-button--secondary right">
              Revoke admin
              </button>
            </form>
          {% endif %}
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ app_admins|length }} app admin{% if app_admins|length != 1 %}s{% endif %}
        </td>
      </tr>
    </tfoot>
  </table>

{% if request.user.has_perm('api.add_app_admin', app) %}
  {% if admin_options|length %}
  <form action="{{ url('add-app-admin', kwargs={ "pk": app.id }) }}" method="post" class="govuk-form-group">
    {{ csrf_input }}

    {% call(user) autocomplete({
      "name": "user_id",
      "label": "Give a user admin rights to this app",
      "placeholder": "Start typing to find a user...",
      "items": admin_options,
    }) %}
      <option value="{{ user.auth0_id }}">{{ user_name(user) }}</option>
    {% endcall %}

    <div class="govuk-form-group">
      <button class="govuk-button">Grant access</button>
    </div>
  </form>
  {% else %}
  <p class="govuk-body">
    (All available users are already admins of this app.)
  </p>
  {% endif %}
{% endif %}
</section>

<section class="cpanel-section">
  <h2 class="govuk-heading-m">App data sources</h2>

  <table class="govuk-table app-data-sources form-group">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">
          Access level
          {{ modal_dialog(app_access_levels_html|safe) }}
        </th>
        <th class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% set buckets = app.apps3buckets.all() %}
      {% set num_buckets = buckets|length %}
      {% for bucket in buckets %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="{{ url('manage-datasource', kwargs={ "pk": bucket.s3bucket.id }) }}">{{ bucket.s3bucket.name }}</a>
        </td>
        <td class="govuk-table__cell">
          {{ yes_no(bucket.access_level, 'readwrite', "Read/write", "Read only") }}
        </td>
        <td class="govuk-table__cell align-right">
          {% if request.user.has_perm('api.update_apps3bucket', bucket) %}
          <form action="{{ url('update-app-access', kwargs={ "pk": bucket.id }) }}" method="post" class="form-control-prefix">
            {{ csrf_input }}
            <input type="hidden" name="access_level" value="{{ yes_no(bucket.access_level, 'readwrite', 'readonly', 'readwrite') }}">
            <button class="js-confirm govuk-button govuk-button--secondary">
              Set {{ yes_no(bucket.access_level, 'readwrite', 'read only', 'read/write') }}
            </button>
          </form>
          {% if request.user.has_perm('api.remove_app_bucket', app) %}
          <form action="{{ url('revoke-app-access', kwargs={ "pk": bucket.id }) }}" method="post" class="form-control-prefix">
            {{ csrf_input }}
            <button class="js-confirm govuk-button govuk-button--secondary">
              Disconnect
            </button>
          </form>
        {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="govuk-table__foot">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="3">
          {{ num_buckets }} app data source{% if buckets != 1 %}s{% endif %}
        </td>
      </tr>
    </tfoot>
  </table>

{% if request.user.has_perm('api.add_app_bucket', app) %}
  {% set num_bucket_options = grant_access_form.datasource|length - 1 %}
  {% if num_bucket_options %}
    <form action="{{ url('grant-app-access', kwargs={ "pk": app.id }) }}" method="post">
    {{ csrf_input }}
    <input type="hidden" name="access_level" value="readonly">
    <div class="govuk-form-group">
      {{ govukLabel({"text": "Connect an app data source"}) }}
      {% if grant_access_form.datasource.errors -%}
      {{ govukErrorMessage({"text": grant_access_form.datasource.errors|join(". ")}) }}
      {%- endif %}
      {{ grant_access_form.datasource }}
    </div>
    <div class="govuk-form-group">
      <button class="govuk-button govuk-button--secondary">
        Grant access
      </button>
    </div>
  </form>
  {% else %}
  <p class="govuk-body">
    (All available data sources are already connected to this app.)
  </p>
  {% endif %}
{% endif %}
</section>

{% if request.user.has_perm('api.view_app_logs', app) %}
<section class="cpanel-section">
  <h2 class="govuk-heading-m">App logs</h2>
  {{ app_logs(app, kibana_base_url) }}
</section>
{% endif %}

{% if request.user.has_perm('api.destroy_app', app) %}
<section class="cpanel-section">
  <form action="{{ url('delete-app', kwargs={ "pk": app.id }) }}" method="post">
    {{ csrf_input }}
    <button class="govuk-button cpanel-button--destructive js-confirm"
            data-confirm-message="Are you sure you want to delete this app?">
      Delete app
    </button>
  </form>
</section>
{% endif %}

{% endblock %}
