{% from "autocomplete/macro.html" import autocomplete %}
{% from "error-message/macro.html" import govukErrorMessage %}
{% from "input/macro.html" import govukInput %}
{% from "label/macro.html" import govukLabel %}
{% from "radios/macro.html" import govukRadios %}
{% from "checkboxes/macro.html" import govukCheckboxes %}

{% extends "base.html" %}

{% set page_title = "Register an app" %}

{% set new_datasource_html %}
  Create a new webapp data source
  <div class="cpanel-subform" data-show-if-selected="connect_bucket-1">
  {{ govukInput({
    "name": "new_datasource_name",
    "classes": "govuk-!-width-one-half",
    "label": {
      "text": "Webapp data source name",
    },
    "hint": {
      "text": '60 chars max, only lowercase letters, numbers, periods and hyphens, auto-prefixed with "' + env + '"'
    },
    "errorMessage": {"text": form.new_datasource_name.errors|join(". ")} if form.new_datasource_name.errors else {},
    "value": form.new_datasource_name.value()
  }) }}
  </div>
{% endset %}

{% set existing_datasource_html %}
  Connect an existing webapp data source
  <div class="cpanel-subform" data-show-if-selected="connect_bucket-2">
    <div class="govuk-form-group
                {%- if form.existing_datasource_id.errors %} govuk-form-group--error{% endif %}">
      {{ govukLabel({"text": "Select webapp data source"}) }}
      {% if form.existing_datasource_id.errors -%}
      {{ govukErrorMessage({"text": form.existing_datasource_id.errors|join(". ")}) }}
      {%- endif %}
      {{ form.existing_datasource_id }}
    </div>
  </div>
{% endset %}

{% block content %}
<h1 class="govuk-heading-xl">{{ page_title }}</h1>
<p class="govuk-body">
  After <a
    href="{{ user_guidance_base_url }}/rshiny-app.html">creating
    an app in Github</a>, use this form to register your app and connect it to
  sensitive data in S3.
</p>

<form method="post" action="{{ url("create-app") }}">
  {{ csrf_input }}

  <div class="govuk-form-group" id="container-element">
    <label class="govuk-label govuk-label--m" for="display_result_repo">Github repository</label>
    <input type="text" class="govuk-input" id="display_result_repo" name="repo_url" />
  </div>

  {{ govukRadios({
    "name": "connect_bucket",
    "fieldset": {
      "legend": {
        "text": "Connect a secure webapp data source",
        "classes": "govuk-fieldset__legend--m",
      },
    },
    "hint": {
      "text": "Connect an existing app data source to your app, or create a new one.",
    },
    "items": [
      {
        "value": "new",
        "html": new_datasource_html|safe,
        "checked": form.connect_bucket.value() == "new"
      },
      {
        "value": "existing",
        "html": existing_datasource_html|safe,
        "checked": form.connect_bucket.value() == "existing"
      },
      {
        "value": "later",
        "text": "Do this later",
        "checked": form.connect_bucket.value() == "later"
      },
    ]
  }) }}
  {{ govukCheckboxes({
    "fieldset": {
      "legend": {
        "text": "Oauth0 client - connections",
        "classes": "govuk-fieldset__legend--m",
      },
    },
    "errorMessage": {"html": form.connections.errors|join(". ")} if form.connections.errors else {},
    "classes": "govuk-checkboxes--error" if form.repo_url.errors else "",
    "hint": {
      "text": 'Select the preferred option to allow customers to login'
    },
    "name": "connections",
    "items": [
      {
        "value": "email",
        "text": "Email",
        "checked": True,
      },
    ],
  }) }}

  <div class="govuk-form-group">
    <button class="govuk-button">Register app</button>
  </div>
</form>
{% endblock %}
