{# HACK: Count dialogs in a template to generate IDs #}
{% set dialogs = [] %}
{% macro generate_dialog_id() -%}
{# Add to the list of dialogs to increment the ID counter #}
{%- set _ = dialogs.append(1) -%}
dialog-{{ dialogs|length }}
{%- endmacro %}

{% macro modal_dialog(body, trigger="What's this?") %}
{% set id %}{{ generate_dialog_id() }}{% endset %}
<span class="modal-dialog--trigger" data-dialog-id="{{ id }}">
  <span>{{ trigger }}</span>
</span>
<dialog id="{{ id }}" class="modal-dialog" role="dialog" aria-labelledby="dialog-title">
  <div class="modal-dialog--body">
    {{ body }}
  </div>
  <form method="dialog">
    <button class="govuk-button modal-dialog--close">OK</button>
  </form>
</dialog>
{% endmacro %}
