.modal-dialog--trigger {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: govuk-colour("grey-3");
  top: 4px;

  span {
    display: none;
  }

  &:before {
    content: '?';
    position: absolute;
    font-style: normal;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    text-indent: center;
    cursor: pointer;
    left: -4px;
    top: 1px;
  }

  &:hover {
    background-color: govuk-colour("grey-2");
  }
}

.modal-dialog {
  max-width: 500px;

  &::backdrop {
    background: rgba(0,0,0,0.8);
  }
}
