table.fixed {
    table-layout: fixed;

}

table.fixed td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


table.fixed td:hover {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

table.fixed button {
    text-align: right;
}
