ul.tabs {
  @include clearfix;

  border-bottom: 1px solid $light-grey;

  li {
    float: left;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: -1px;
    border: 1px solid $light-grey;
    border-bottom: none;
    background-color: $light-grey;

    &:hover {
      border-color: $mid-grey;
    }

    &.active {
      font-weight: bold;
      background-color: $white;
    }
  }
}

section.tab-panel {
  display: none;

  &.active {
    display: block;
  }
}
