.right {
  float: right;
}

.align-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.white-bg {
  background-color: govuk-colour("white");
}

.govuk-secondary-text-colour {
  color: $govuk-secondary-text-colour;
}
