{
    "configurations": [
        {
            "name": "celery",
            "type": "debugpy",
            "request": "launch",
            "module": "celery",
            "args": [
                "-A",
                "controlpanel",
                "worker",
                "--loglevel=info",
            ],
        },
        {
            "name": "runserver",
            "type": "debugpy",
            "request": "launch",
            "args": [
                "runserver"
            ],
            "django": true,
            "autoStartBrowser": false,
            "program": "${workspaceFolder}/manage.py",
        }
    ],
    "compounds": [
        {
          "name": "Runserver/Celery",
          "configurations": ["runserver", "celery"],
          "preLaunchTask": "aws-sso-process",
          "stopAll": true
        }
      ]
    }
