.app-logs {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  border: 2px inset govuk-colour('grey-3');
  padding: 10px;
  margin-bottom: 1em;
  max-height: 20em;

  & pre {
    margin: 0;
  }

  .timestamp {
    color: govuk-colour('grey-1');
  }
}
