{% macro app_logs(app, kibana_base_url) %}
  <div class="app-logs">
    <pre>{% for entry in app.get_logs() -%}
<span class="timestamp">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}:</span> <span class="message">{{ entry.message }}</span>
{% endfor %}</pre>
  </div>
  <p class="govuk-body">
    <a href="{{ kibana_link(app, kibana_base_url) }}">View full logs</a>
  </p>
{% endmacro %}

{% macro kibana_link(app, kibana_base_url) -%}
{% filter replace(" ", "") -%}
{% filter replace("\n", "") -%}
{{ kibana_base_url }}#/discover?_g=(
time:(
  from:now-24h,
  mode:quick,
  to:now
)
)&_a=(
columns:!(message),
filters:!(
  (
    '$state':(store:appState),
    meta:(
      alias:!n,
      disabled:!f,
      index:'{{env}}-node-*',
      key:query,
      negate:!f,
      type:custom,
      value:'{% filter urlencode %}{% filter replace(" ", "") %}{% filter replace("\n", "") -%}
      {
        "constant_score":{
          "filter":{
            "bool":{
              "must":{
                "exists":{
                  "field":"message"
                }
              },
              "must_not":{
                "term":{
                  "message":""
                }
              }
            }
          }
        }
      }
      {%- endfilter %}{% endfilter %}{% endfilter %}'
    ),
    query:(
      constant_score:(
        filter:(
          bool:(
            must:(
              exists:(
                field:message
              )
            ),
            must_not:(
              term:(
                message:''
              )
            )
          )
        )
      )
    )
  ),
  (
    '$state':(
      store:appState
    ),
    meta:(
      alias:!n,
      disabled:!f,
      index:'{{env}}-node-*',
      key:app_name,
      negate:!f,
      params:(
        query:{{app.release_name}}-webapp,
        type:phrase
      ),
      type:phrase,
      value:{{app.release_name}}-webapp
    ),
    query:(
      match:(
        app_name:(
          query:{{app.release_name}}-webapp,
          type:phrase
        )
      )
    )
  )
),
index:'{{env}}-node-*',
interval:auto,
query:(language:lucene,query:''),
sort:!(time_nano,asc),
uiState:(spy:!n))
{%- endfilter %}
{%- endfilter %}
{%- endmacro %}
