.sign-out {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: govuk-colour("white");
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  white-space: nowrap;
  @include govuk-link-common;

  &:hover {
    text-decoration: underline;
  }
}
