.whats-new-notification {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  display: none;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;

  a {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding: 5px;
    border: none;
    border-radius: 15px;
    color: govuk-colour("black");
    background-color: govuk-colour("grey-1");
    text-decoration: none;
    text-align: center;
    transition-property: width, background-color;
    transition-duration: .2s;

    span {
      display: none;
    }

    &:hover {
      width: 120px;
      background-color: govuk-colour("grey-2");

      span {
        display: inline-block;
      }
    }

  }
}
