{% from "menus/items/customer.html" import customerItem %}

{% macro displayCustomerMenu(
    reverse = dict(
      url = None,
      kwargs = {},
      first_kw = {},
      previous_kw = {},
      next_kw = {},
      last_kw = {},

    ),
    buttons = dict(
      next_btn = "Next",
      last_btn = "Last",
      first_btn = "First",
      prev_btn = "Previous"
    ),
    group_id = None,
    paginator = [],
    elided = [],
    show_dots = False,
    page_no= 1,
    env_name=""
  )
-%}

{% set next_btn = buttons.next_btn|default("Next") %}
{% set prev_btn = buttons.prev_btn|default("Previous") %}

<div class="pagination-menu" >
  <div>
    {% if paginator.page_range[0] != page_no %}
      {{
        customerItem(
        reverse= {
          "url": reverse.url,
          "kwargs": reverse.previous_kw
        },
        group_id= group_id,
        button_text= prev_btn,
        env_name = env_name
        )
      }}
    {% endif %}

    {% for page_number in elided %}
      {% if page_number == "…" %}
        <div class="govuk-button non-button">...</div>
      {% else %}
        {% set _ = reverse.kwargs.update(page_no=page_number) %}
        {{
          customerItem(
            reverse= {
              "url": reverse.url,
              "kwargs": reverse.kwargs
            },
            group_id= group_id,
            button_text= page_number,
            active= (page_number == page_no),
            env_name = env_name
          )
        }}
      {% endif %}
    {% endfor %}

    {% if paginator.page_range[-1] != page_no %}
    {{
      customerItem(
        reverse= {
          "url": reverse.url,
          "kwargs": reverse.next_kw
        },
        group_id= group_id,
        button_text= next_btn,
        env_name = env_name
      )
    }}
    {% endif %}
  </div>
</div>
{% endmacro -%}
