$govuk-global-styles: true;

// override govuk font because we're not allowed to use Transport New
$govuk-font-family-nta: "Arial";
$govuk-font-family-nta-tabular: "Arial";

$govuk-assets-path: "/static/assets/";

// GOV.UK Frontend
@import "node_modules/govuk-frontend/dist/govuk/all";

// MOJ Frontend
@import "node_modules/@ministryofjustice/frontend/moj/all";

// Other component styles
@import "components/all";

// App specific
@import "local/buttons";
@import "local/forms";
@import "local/layout";
@import "local/markdown";
@import "local/utilities";
@import "local/secrets";
@import "local/pagination";

body {
    margin: 0;
}

.moj-phase-banner--border {
    border: none;
}
