{% load static %}
  <footer>
    <main>
      <section>
        <ul>
          <li><a href="https://user-guidance.services.alpha.mojanalytics.xyz/">Documentation</a></li>
          <li><a href="https://user-guidance.services.alpha.mojanalytics.xyz/support.html">Support</a></li>
          <li><a href="{% url 'accessibility' %}">Accessibility</a></li>
        </ul>
        <article>
          <p><img id="footer-crest" src="{% static "img/govuk-crest.png" %}" alt="UK Government Crest"/></p>
          <p><a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; Crown copyright</a></p>
        </article>
      </section>
    </main>
  </footer>
