{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "includes/yesno.html" import yes_no %}

{% set admin_access_html %}
{% include "modals/app_admins.html" %}
{% endset %}

{% macro dashboard_list(dashboards, user) %}
{%- set num_dashboards = dashboards|length %}
<table class="govuk-table track_task">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Dashboard name</th>
      <th class="govuk-table__header">
        Admin access
        {{ modal_dialog(admin_access_html|safe) }}
      </th>
      {% if request.user.has_perm('api.add_superuser') -%}
      <th class="govuk-table__header">
        Dashboard admins
      </th>
      {%- endif %}
      <th class="govuk-table__header">
        <span class="govuk-visually-hidden">Users</span>
      </th>
      <th class="govuk-table__header">
        <span class="govuk-visually-hidden">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {%- for dashboard in dashboards %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {% if not request.user.has_perm('api.retrieve_dashboard', dashboard) -%}
          {{ dashboard.name }}
        {%- else -%}
          <a href="{{ url('manage-dashboard', kwargs={ 'pk': dashboard.id }) }}">{{ dashboard.name }}</a>
        {%- endif %}
      </td>
      <td class="govuk-table__cell">
        {{ yes_no(user.is_dashboard_admin(dashboard.id)) }}
      </td>
      {% if request.user.has_perm('api.add_superuser') -%}
      <td class="govuk-table__cell">
        {%- for admin in dashboard.admins.all() %}
          <a href="{{ url('manage-user', kwargs={ "pk": admin.auth0_id }) }}">
            {{ admin.username }}
          </a>
          {% if not loop.last %}
            {{', '}}
          {% endif %}
        {% endfor %}
      </td>
      {%- endif %}
      <td class="govuk-table__cell">
        <a href="{{ url('dashboard-customers', kwargs={ 'pk': dashboard.id, 'page_no': '1' }) }}" class="govuk-button govuk-button--secondary right">Manage users</a>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-button govuk-button--secondary right {%- if not request.user.has_perm('api.retrieve_dashboard', dashboard) %} govuk-visually-hidden{% endif %}"
          href="{{ url('manage-dashboard', kwargs={ 'pk': dashboard.id }) }}">
          Manage dashboard
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot class="govuk-table__foot">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="3">
        {{ num_dashboards }} dashboard{% if num_dashboards != 1 %}s{% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endmacro %}
