{% from "modal-dialog/macro.html" import modal_dialog %}
{% from "includes/yesno.html" import yes_no %}

{% set admin_access_html %}
{% include "modals/app_admins.html" %}
{% endset %}

{% macro app_list(apps, user) %}
{%- set num_apps = apps|length %}
<table class="govuk-table track_task">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">App name</th>
      <th class="govuk-table__header">
        Admin access
        {{ modal_dialog(admin_access_html|safe) }}
      </th>
      <th class="govuk-table__header">
        <span class="govuk-visually-hidden">Customers</span>
      </th>
      <th class="govuk-table__header">
        <span class="govuk-visually-hidden">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {%- for app in apps %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {% if not request.user.has_perm('api.retrieve_app', app) -%}
          {{ app.name }}
        {%- else -%}
          <a href="{{ url('manage-app', kwargs={ "pk": app.id }) }}">{{ app.name }}</a>
        {%- endif %}
      </td>
      <td class="govuk-table__cell">
        {{ yes_no(user.is_app_admin(app.id)) }}
      </td>
      {% if app.can_manage_customers %}
        <td class="govuk-table__cell">
          <a href="{{ url("appcustomers-page", kwargs={"pk": app.id, "page_no": "1"}) }}"
            class="govuk-button govuk-button--secondary right" >Manage customers</a>
        </td>
      {% endif %}
      <td class="govuk-table__cell">
        <a class="govuk-button govuk-button--secondary right {%- if not request.user.has_perm('api.retrieve_app', app) %} govuk-visually-hidden{% endif %}"
          href="{{ url("manage-app", kwargs={ "pk": app.id}) }}">
          Manage app
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot class="govuk-table__foot">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" colspan="3">
        {{ num_apps }} app{% if num_apps != 1 %}s{% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endmacro %}
