

{% macro app_deployment_settings(app, env_name, app_domain, deployment_setting, request, csrf_input) %}
  {% set app_full_url = "https://" + app.app_url_name(env_name)+ "." + app_domain %}
  <p><b>If the app has been successfully deployed onto Cloud Platform, it can be accessed here:</b><a href="{{ app_full_url }}">{{ app_full_url }}</a></p>
  <hr style="height:5px;border:none;color:#333;background-color:#333;"/>
  <section class="{{ env_name }}-settings-panel">
    <h3 class="govuk-heading-s">App Secrets</h3>
    <p>The settings in this category are all sensitive, the actual value won't be revealed except IP_RANGES.</p>
    <table class="govuk-table app-data-sources form-group">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Key</th>
          <th class="govuk-table__header">Values</th>
          <th class="govuk-table__header"></th>
          <th class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for app_secret in deployment_setting["secrets"] %}
        <tr class="govuk-table__row auth-setting-row">
          <td class="govuk-table__cell">{{ app_secret["display_name"] }}</td>
          <td class="govuk-table__cell">{{ app_secret["value"] }} {% if app_secret["value"] == None %}<b style="color:red">[Missing] {% endif %}</b></td>
          <td class="govuk-table__cell">
            {% if request.user.has_perm(app_secret["permission_flag"], app) and app_secret["editable"] %}
              {% if "app-secret" not in app_secret['edit_link'] %}
                <a href="{{ url(app_secret['edit_link'], kwargs={'pk': app.id }) }}?env_name={{ env_name }}" class="govuk-button govuk-button--secondary right">Edit</a>
              {% else %}
                <a href="{{ url(app_secret['edit_link'], kwargs={'pk': app.id, 'secret_name': app_secret['name']}) }}?env_name={{ env_name }}" class="govuk-button govuk-button--secondary right">Edit</a>
              {% endif %}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if request.user.has_perm(app_secret["permission_flag"], app) and app_secret["removable"] %}
              <form action="{{ url(app_secret['remove_link'], kwargs={'pk': app.id, 'secret_name': app_secret['name']}) }}" method="post">
                {{ csrf_input }}
                <input type="hidden" name="env_name" value="{{ env_name }}">
                <button class="govuk-button cpanel-button--destructive js-confirm"
                      data-confirm-message="Are you sure you want to delete this secret?">
                  Delete
                </button>
              </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr class="govuk-table__row">
          <td><a href="{{ url('create-app-secret', kwargs={'pk': app.id} ) }}?env_name={{ env_name }}" class="govuk-button" >Add new Secret</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  {% if request.user.has_perm('api.update_app', app) and deployment_setting['can_create_client'] %}
    <section class="cpanel-section">
      <p style="color:red">The Auth0 client needs to be created and the related settings stored in GitHub</p>
      <form action="{{ url('create-auth0-client', kwargs={ 'pk': app.id }) }}" method="post">
        {{ csrf_input }}
        <input type="hidden" name="env_name" value="{{ env_name }}">
        <button class="govuk-button cpanel-button--destructive js-confirm"
                data-confirm-message="Are you sure you want to create auth0 a client for this app?">
          Create auth0 client
        </button>
      </form>
    </section>
  {% endif %}

  {% if request.user.has_perm('api.update_app', app) and deployment_setting['can_remove_client'] %}
    <section class="cpanel-section">
      <p style="color:red">As the authentication flag is off, the auth0-client and related settings in github can be removed</p>
      <form action="{{ url('remove-auth0-client', kwargs={'pk': app.id }) }}" method="post">
        {{ csrf_input }}
        <input type="hidden" name="env_name" value="{{ env_name }}">
        <button class="govuk-button cpanel-button--destructive js-confirm"
                data-confirm-message="Are you sure you want to delete the auth0 client for this app?">
          Remove auth0 client
        </button>
      </form>
    </section>
  {% endif %}

  <section>
    <h3 class="govuk-heading-s" >App environment variables</h3>
    <p>The settings in this category are not sensitive data.</p>

    <table class="govuk-table app-data-sources form-group">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Value</th>
          <th class="govuk-table__header"></th>
          <th class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for env_var in deployment_setting["variables"] %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ env_var['display_name'] }}</td>
          <td class="govuk-table__cell">{{ env_var['value'] }} {% if env_var["value"] == None %}<b style="color:red">[Missing]</b>{% endif %} </td>
          <td class="govuk-table__cell">
            {% if request.user.has_perm(env_var["permission_flag"], app) and env_var["editable"] %}
              {% if "app-var" not in env_var['edit_link'] %}
                <a class="govuk-button govuk-button--secondary right" href="{{ url(env_var['edit_link'], kwargs={'pk': app.id}) }}?env_name={{ env_name }}" >Edit</a>
              {% else %}
                <a class="govuk-button govuk-button--secondary right" href="{{ url(env_var['edit_link'], kwargs={'pk': app.id, 'var_name':env_var['name'] }) }}?env_name={{ env_name }}" >Edit</a>
              {% endif %}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if request.user.has_perm(env_var["permission_flag"], app) and env_var["removable"] %}
              <form action="{{ url(env_var['remove_link'], kwargs={'pk': app.id, 'var_name':env_var['name']}) }} " method="post">
                {{ csrf_input }}
                <input type="hidden" name="env_name" value="{{ env_name }}">
                <button class="govuk-button cpanel-button--destructive js-confirm"
                      data-confirm-message="Are you sure you want to delete this variable?">
                  Delete
                </button>
              </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr class="govuk-table__row">
          <td><a href="{{ url('create-app-var', kwargs={'pk': app.id} ) }}?env_name={{ env_name }}" class="govuk-button" >Add new Variable</a></td>
        </tr>
      </tbody>
    </table>
  </section>

{% endmacro %}